* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    border: 1px solid black;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex div,
.inline-flex div {
    margin: 5px 0;
    padding: 10px;
}