div
{
    height: 300px;
}
.table-1
{
    width: 500px;
    height: 250px;
    text-align: center;
    color: white;
}
.table-1 th
{
    background-color: rgb(251, 193, 85);
}
.table-1 td:first-child
{
    background-color: lightgreen;
}
.lightest-purple {
    background-color: #e8d0df;
}
.lighter-purple {
    background-color: #d4a3b7;
}

.light-purple {
    background-color: #c77fa3;
}

.medium-purple {
    background-color: #b0538e;
}

.dark-purple {
    background-color: #8e3d6a;
}

.darkest-purple {
    background-color: #6a2549;
}

.table-2
{
    height: 250px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    text-align: center;
}
.table-2 th, tbody td
{
    height: 30px;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}
.table-2 tfoot
{
    text-align: center;
}
.table-2 tfoot tr td
{
    padding-top: 5px;
    padding-bottom: 5px;
}
th
{
    color: white;
}
.table-2 th:first-child
{
    background-color: rgb(234, 233, 233);
}
.Th-Red
{
    background-color: rgb(253, 103, 103);
}
.Th-Green
{
    background-color: lightgreen;
}
.Th-Blue
{
    background-color: lightblue;
}
.table-2 .Done
{
    background-image: url(https://cdn2.iconfinder.com/data/icons/greenline/512/check-256.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.table-2 .NA
{
    background-image: url(https://cdn3.iconfinder.com/data/icons/meteocons/512/n-a-256.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.table-2 .Not-done
{
    background-image: url(https://cdn1.iconfinder.com/data/icons/everyday-2/64/x_cross_delete_stop-256.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
button
{
    border-style: none;
    color: white;
}
.Btn-Red
{
    background-color: rgb(253, 103, 103);
}
.Btn-Green
{
    background-color: lightgreen;
}
.Btn-Blue
{
    background-color: lightblue;
}
.table-3-border
{
    height: auto;
    width: 670px;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    padding: 10px;
}
.table-3 td
{
    width: 150px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(183, 183, 183);
    font-size: 14px;
    text-align: center;
}
.table-3 tr:first-child
{
    font-weight: 900;
}
.table-3 td:first-child
{
    width: 45px;
    background-color: lightyellow;
}
.table-3 td:nth-last-child(5)
{
    width: 25px;
    background-color: lightyellow;
}
.table-3 td:nth-last-child(4)
{
    background-color: lightblue;
}
.table-3 td:nth-last-child(3)
{
    background-color: rgb(248, 135, 135);
}
.table-3 td:nth-last-child(2)
{
    background-color: rgb(191, 250, 191);
}
.table-3 td:last-child
{
    background-color: rgb(253, 190, 253);
}
.table-3 td.bold
{
    font-weight: bolder;
}