@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter-normal.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  transition: all 0.3s ease;
}

header {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .control {
  height: 50%;
  align-content: center;
  color: #007AFF;
}

.invisible {
  visibility: hidden;
}

aside {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 240px !important;
  height: 100vh;
  padding: 16px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
}
aside .part-top {
  width: 100%;
}
aside .part-top .logo {
  width: 100%;
  height: 10%;
  padding: 8px 8px 16px 12px;
  margin-bottom: 8px;
}
aside .part-top .logo img {
  width: 153px;
}
aside .part-top ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}
aside .part-top ul li {
  font-size: 16px;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 8px;
  width: 100% !important;
  padding: 12px;
  border-radius: 20px;
}
aside .part-top ul li i {
  padding: 8px;
  background-color: white;
  border-radius: 12px;
}
aside .part-top ul li i::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
aside .part-top ul li:hover {
  background-color: #eaeaea;
  white-space: nowrap;
  width: 100%;
}
aside .part-bottom {
  width: 100%;
}
aside .part-bottom ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}
aside .part-bottom ul li {
  font-size: 16px;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 8px;
  padding: 12px;
  border-radius: 20px;
}
aside .part-bottom ul li i {
  padding: 8px;
  background-color: white;
  border-radius: 12px;
}
aside .part-bottom ul li i::before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
aside .part-bottom ul li:hover {
  background-color: #eaeaea;
  white-space: nowrap;
  width: 100%;
}

main {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  padding: 16px;
  gap: 16px;
}
main nav {
  display: none;
  justify-content: space-between;
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
}
main nav .left-part {
  display: flex;
  align-items: center;
}
main nav .left-part .icons {
  display: flex;
  gap: 4px;
}
main nav .left-part .icons i {
  padding: 16px;
  display: flex;
}
main nav .left-part .icons i::before {
  width: 24px;
  height: 24px;
  text-align: center;
  align-content: center;
  font-size: 24px;
}
main nav .left-part .icons i:hover {
  translate: 0px -5px;
}
main nav .left-part .breadcrumb {
  margin: 0 0 0 0.4vw;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
main nav .left-part .breadcrumb li:nth-child(1) a {
  color: rgba(0, 0, 0, 0.5019607843);
  text-decoration: none;
}
main nav .left-part .breadcrumb li:nth-child(1) a:hover {
  background-color: #eaeaea;
  white-space: nowrap;
  padding: 8px;
  border-radius: 12px;
}
main nav .left-part .breadcrumb li:nth-child(2) {
  color: black;
}
main nav .left-part .breadcrumb li:nth-child(2):hover {
  background-color: #eaeaea;
  white-space: nowrap;
  margin-left: 5px;
  padding: 8px;
  border-radius: 12px;
}
main nav .right-part {
  display: flex;
  align-items: center;
}
main nav .right-part .search-bar {
  display: flex;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 16px;
  padding: 8px 12px;
  width: 11vw;
  height: 70%;
  margin-right: 0.5vw;
}
main nav .right-part .search-bar .bi-search {
  font-size: 16px;
  margin-right: 5%;
  color: #aaa;
}
main nav .right-part .search-bar .search-input {
  width: 70%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #555;
}
main nav .right-part .search-bar .search-input::placeholder {
  color: #aaa;
}
main nav .right-part .search-bar .bi-command {
  font-size: 12px;
  color: #aaa;
  margin-left: 8px;
}
main nav .right-part .search-bar:hover {
  background-color: rgba(128, 128, 128, 0.384);
}
main nav .right-part .icons {
  display: flex;
  gap: 8px;
}
main nav .right-part .icons i {
  padding: 16px;
  display: flex;
}
main nav .right-part .icons i::before {
  width: 24px;
  height: 24px;
  text-align: center;
  align-content: center;
  font-size: 24px;
}
main nav .right-part .icons i:hover {
  translate: 0px -5px;
}
main .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
main .cards .card {
  flex: 1 1 calc(50% - 8px);
  min-width: 160px;
  border-radius: 24px;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .cards .card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .cards .card .content:first-of-type .text {
  font-size: 14px;
  line-height: 20px;
}
main .cards .card .content:first-of-type .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  width: fit-content;
  border-radius: 80px;
  border: 1px solid transparent;
}
main .cards .card .content:first-of-type .icon img {
  width: 24px;
  height: 24px;
  padding: 2px;
}
main .cards .card .content:last-of-type .text:first-of-type {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
main .cards .card .content:last-of-type .text:last-of-type {
  font-size: 14px;
  line-height: 20px;
}
main .blue-gradient {
  background-image: linear-gradient(#288df6, #4ca4fb);
}
main .blue-gradient .icon {
  background: linear-gradient(#3897ff, #3897ff) padding-box, linear-gradient(330deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255) 100%) border-box;
}
main .black-gradient {
  background-image: linear-gradient(#090909, #3b3b3b);
}
main .black-gradient .icon {
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box, linear-gradient(330deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255) 100%) border-box;
}
main .black-gradient:nth-child(2) .icon {
  rotate: 180deg;
}
main .graphic {
  height: 240px;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  background-color: white;
}
main .graphic .group {
  width: 329px;
  align-items: center;
  align-self: flex-start;
}
main .graphic .group ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 0;
  padding: 0;
}
main .graphic .group ul li:hover {
  color: #AF52DE;
  margin: 0 5px;
}
main .graphic .group .dropdowns {
  display: none;
  align-items: center;
  gap: 10px;
}
main .graphic .group .dropdowns select {
  font-size: 16px;
  line-height: 24px;
  border: none;
  padding: 8px 16px;
  background-color: #eaeaea;
  border-radius: 12px;
  width: auto;
}
main .graphic .group .dropdowns i {
  display: inherit;
  padding: 8px;
  background-color: #eaeaea;
  border-radius: 12px;
  color: black;
}
main .graphic .group .dropdowns i::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
main .graphic .frame {
  position: relative;
  height: 100%;
  width: 100%;
}
main .graphic .frame .graph {
  width: 100%;
  height: 168px;
}
main .graphic .frame .graph img {
  width: 100%;
  height: 100%;
}
main .graphic .frame .graph .graphic-laptop {
  display: none;
}
main .graphic .frame .bottom_text {
  width: 100%;
  position: absolute;
  top: 152px;
}
main .graphic .frame .bottom_text ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}
main .graphic .frame .bottom_text ul li {
  text-align: center;
  width: 16.6666666667%;
}
main .graphic-2 {
  width: 100%;
  height: 240px;
  background-color: white;
  margin-top: 16px;
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .graphic-2 .text {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #007AFF;
}
main .graphic-2 .text i {
  display: none;
}
main .graphic-2 .graph {
  height: 100%;
  width: 100%;
  position: relative;
}
main .graphic-2 .graph .vertical_bars {
  height: 80%;
  display: flex;
  justify-content: space-around;
}
main .graphic-2 .graph .vertical_bars .vertical_bar {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}
main .graphic-2 .graph .vertical_bars .vertical_bar .progress {
  display: flex;
  width: 75%;
  background-color: #e6e6e6;
  border-radius: 12px;
  margin-top: 8px;
}
main .graphic-2 .graph .vertical_bars .vertical_bar .title {
  width: 95%;
  color: white;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 0.8rem;
  text-align: center;
}
main .graphic-2 .graph .bottom_text {
  position: absolute;
  top: 152px;
  width: 100%;
}
main .graphic-2 .graph .bottom_text ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
main .graphic-2 .graph .bottom_text ul li {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  flex: 1 1;
}
main .graphic-3 {
  width: 100%;
  height: 240px;
  background-color: white;
  margin-top: 16px;
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .graphic-3 .text {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #34C759;
}
main .graphic-3 .text i {
  display: none;
}
main .graphic-3 .graph {
  height: 100%;
  width: 100%;
  position: relative;
}
main .graphic-3 .graph .vertical_bars {
  height: 80%;
  display: flex;
  justify-content: space-around;
}
main .graphic-3 .graph .vertical_bars .vertical_bar {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}
main .graphic-3 .graph .vertical_bars .vertical_bar .progress {
  display: flex;
  width: 75%;
  background-color: #e6e6e6;
  border-radius: 12px;
  margin-top: 8px;
}
main .graphic-3 .graph .vertical_bars .vertical_bar .title {
  width: 95%;
  color: white;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 0.8rem;
  text-align: center;
}
main .graphic-3 .graph .bottom_text {
  position: absolute;
  top: 152px;
  width: 100%;
}
main .graphic-3 .graph .bottom_text ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
main .graphic-3 .graph .bottom_text ul li {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  flex: 1 1;
}
main .graphic-4 {
  width: 100%;
  height: 240px;
  padding: 16px;
  gap: 16px;
  background-color: white;
  margin-top: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .graphic-4 .text {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #FF3B30;
}
main .graphic-4 .group {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
}
main .graphic-4 .group ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
main .graphic-4 .group ul li {
  display: flex;
  align-items: center;
}
main .graphic-4 .group ul li:nth-child(1) .circle {
  background-color: black;
}
main .graphic-4 .group ul li:nth-child(2) .circle {
  background-color: rgba(0, 0, 0, 0.5019607843);
}
main .graphic-4 .group ul li:nth-child(3) .circle {
  background-color: #FF3B30;
}
main .graphic-4 .group ul li .circle {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  margin-right: 5px;
}
main .graphic-4 .group ul li i {
  padding: 8px;
  background-color: #eaeaea;
  border-radius: 12px;
  color: black;
}
main .graphic-4 .group ul li i::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
main .graphic-4 .group ul li i:hover {
  background-color: #aaa;
}
main .graphic-4 .group ul .laptop-version {
  display: none;
}
main .graphic-4 .graph {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .graphic-4 .graph .vertical_bars {
  height: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}
main .graphic-4 .graph .vertical_bars .vertical_bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
main .graphic-4 .graph .vertical_bars .vertical_bar .progress {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  background-color: transparent;
  width: 10%;
  border-radius: 12px;
  margin-top: 3px;
}
main .graphic-4 .graph .vertical_bars .vertical_bar .bg-red {
  background-color: #FF3B30;
}
main .graphic-4 .graph .vertical_bars .vertical_bar .bg-grey {
  background-color: rgba(0, 0, 0, 0.5019607843);
}
main .graphic-4 .graph .vertical_bars .vertical_bar .bg-black {
  background-color: black;
}
main .graphic-4 .graph .vertical_bars .vertical_bar .long-version {
  display: none;
}
main .graphic-4 .graph .vertical_bars .long-version {
  display: none;
}
main .graphic-4 .graph .bottom_text {
  margin-top: 8px;
}
main .graphic-4 .graph .bottom_text ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
main .graphic-4 .graph .bottom_text ul li {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  flex: 1 1;
}
main .graphic-4 .graph .bottom_text ul .long-version {
  display: none;
}
main .h10 {
  height: 10%;
}
main .h20 {
  height: 20%;
}
main .h30 {
  height: 30%;
}
main .h40 {
  height: 40%;
}
main .h50 {
  height: 50%;
}
main .h60 {
  height: 60%;
}
main .h70 {
  height: 70%;
}
main .h80 {
  height: 80%;
}
main .h90 {
  height: 90%;
}
main .h100 {
  height: 100%;
}
main .list {
  width: 100%;
  height: auto;
  background-color: white;
  margin-top: 16px;
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .list .text {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #00C7BE;
  display: flex;
  justify-content: space-between;
}
main .list .text .more {
  display: none;
}
main .list .text .more i {
  padding: 8px;
  background-color: #eaeaea;
  border-radius: 12px;
  color: black;
}
main .list .text .more i::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
main .list .text .more i:hover {
  background-color: #aaa;
}
main .list .table {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  margin: 0;
}
main .list .table .top-text {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}
main .list .table .top-text .info {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  width: 95%;
  color: rgba(0, 0, 0, 0.5019607843);
  margin: 0;
}
main .list .table .top-text .info li {
  padding: 12px 16px;
}
main .list .table .data {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 4px 0 0 0;
  padding: 0;
  margin: 0;
  width: 100%;
  gap: 12px;
}
main .list .table .data li {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  padding-left: 44px;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  border-radius: 16px;
}
main .list .table .data li::before {
  background-image: url(../../images/list_icon.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 100%;
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 2%;
}
main .list .table .data li .laptop-version {
  display: none;
  background-color: transparent;
  position: absolute;
}
main .list .table .data li .date {
  left: 31%;
  font-size: 1rem;
}
main .list .table .data li .amount {
  right: 31.5%;
  font-size: 1rem;
}
main .list .table .data li .status {
  padding: 4px 12px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 12px;
}
main .list .table .data li .in-progress {
  color: #AF52DE;
  background-color: #efdcf8;
}
main .list .table .data li .complete {
  color: #34C759;
  background-color: #d7f4de;
}
main .list .table .data li .pending {
  color: #007AFF;
  background-color: #cce4ff;
}
main .list .table .data li .approved {
  color: #FFCC00;
  background-color: #fef5cc;
}
main .list .table .data li .rejected {
  color: rgba(0, 0, 0, 0.5019607843);
  background-color: #eaeaea;
}
main .list .table .data .light-grey {
  background-color: #fcfcfc;
}
main .list .table .data .dark-grey {
  background-color: #f7f7f7;
}
main .footer-laptop {
  display: none;
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5019607843);
  padding: 16px 8px;
}
main .footer-laptop .copyright {
  margin: 0 8px;
}
main .footer-laptop ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0 8px;
}

footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 0 0 32px 32px;
}
footer .group {
  width: 91vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .group ul {
  list-style-type: none;
  width: 85vw;
  display: flex;
  margin: 0;
  padding: 0;
}
footer .group ul li {
  flex: 1;
  text-align: center;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-wrap: nowrap;
  }
  body aside {
    display: flex;
  }
  body main {
    width: calc(100% - 240px);
  }
  body main nav {
    display: flex;
  }
  body main .cards {
    width: 100%;
    margin-top: 20px;
    flex-wrap: nowrap;
    gap: 20px;
  }
  body main .cards .card {
    flex: 1 !important;
    gap: 8px;
    padding: 24px;
  }
  body main .cards .card .content:first-of-type .text {
    font-size: 16px;
    line-height: 24px;
  }
  body main .cards .card .content:first-of-type .icon img {
    width: 28px;
    height: 28px;
    padding: 2px;
  }
  body main .cards .card .content:last-of-type .text:first-of-type {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }
  body main .cards .card .content:last-of-type .text:last-of-type {
    font-size: 18px;
    line-height: 28px;
  }
  body main .laptop-blue-gradient {
    background-image: linear-gradient(#288df6, #4ca4fb) !important;
  }
  body main .laptop-blue-gradient .icon {
    background: linear-gradient(#3897ff, #3897ff) padding-box, linear-gradient(330deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255) 100%) border-box;
  }
  body main .laptop-black-gradient {
    background-image: linear-gradient(#090909, #3b3b3b) !important;
  }
  body main .laptop-black-gradient .icon {
    background: linear-gradient(#1e1e1e, #1e1e1e) padding-box, linear-gradient(330deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255) 100%) border-box;
  }
  body main .laptop-black-gradient:nth-child(2) .icon {
    rotate: 180deg;
  }
  body main .graphic {
    width: 100%;
    height: 392px;
    padding: 24px;
    gap: 26px;
  }
  body main .graphic .group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  body main .graphic .group ul {
    font-size: 18px;
    line-height: 28px;
    height: fit-content;
  }
  body main .graphic .group ul li {
    display: flex;
    align-self: center;
  }
  body main .graphic .group .dropdowns {
    display: flex;
  }
  body main .graphic .frame {
    width: 100%;
    margin: 0 !important;
  }
  body main .graphic .frame .graph {
    width: 100%;
    height: 100%;
  }
  body main .graphic .frame .graph img {
    height: 100%;
    width: 100%;
  }
  body main .graphic .frame .graph .graphic-mobile {
    display: none;
  }
  body main .graphic .frame .graph .graphic-laptop {
    display: inherit;
  }
  body main .graphic .frame .bottom_text {
    top: 260px;
  }
  body main .graphic .frame .bottom_text ul {
    font-size: 14px;
    line-height: 20px;
  }
  body main .graphic-2 {
    width: 48.5%;
    padding: 24px;
    height: auto;
  }
  body main .graphic-2 .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    line-height: 28px;
  }
  body main .graphic-2 .text i {
    display: inherit;
    padding: 8px;
    background-color: #eaeaea;
    border-radius: 12px;
    color: black;
  }
  body main .graphic-2 .text i::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  body main .graphic-2 .text i:hover {
    background-color: #aaa;
  }
  body main .graphic-2 .graph {
    height: 168px;
  }
  body main .graphic-2 .graph .bottom_text ul li {
    font-size: 14px;
    line-height: 20px;
  }
  body main .graphic-3 {
    width: 48.5%;
    padding: 24px;
    height: auto;
  }
  body main .graphic-3 .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    line-height: 28px;
  }
  body main .graphic-3 .text i {
    display: inherit;
    padding: 8px;
    background-color: #eaeaea;
    border-radius: 12px;
    color: black;
  }
  body main .graphic-3 .text i::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  body main .graphic-3 .text i:hover {
    background-color: #aaa;
  }
  body main .graphic-3 .graph {
    height: 168px;
  }
  body main .graphic-3 .graph .bottom_text ul li {
    font-size: 14px;
    line-height: 20px;
  }
  body main .graphic-4 {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 24px;
    gap: 24px;
  }
  body main .graphic-4 .text {
    display: flex;
    width: 48%;
    font-size: 18px;
    line-height: 28px;
  }
  body main .graphic-4 .group {
    width: 48%;
  }
  body main .graphic-4 .group ul {
    justify-content: end;
  }
  body main .graphic-4 .group ul .laptop-version {
    display: inherit;
  }
  body main .graphic-4 .graph {
    height: 240px;
  }
  body main .graphic-4 .graph .vertical_bars .vertical_bar .long-version {
    display: inherit;
  }
  body main .graphic-4 .graph .vertical_bars .long-version {
    display: inherit;
  }
  body main .graphic-4 .graph .bottom_text ul {
    font-size: 14px;
    line-height: 20px;
  }
  body main .graphic-4 .graph .bottom_text ul .long-version {
    display: inline;
    text-align: center;
    flex: 1 1;
  }
  body main .list {
    width: 100%;
    justify-content: space-between;
    padding: 24px;
    gap: 24px;
  }
  body main .list .text {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }
  body main .list .text .more {
    display: inherit;
  }
  body main .list .table {
    height: 100%;
    flex-direction: column;
  }
  body main .list .table .top-text {
    display: flex;
  }
  body main .list .table .data {
    height: 100%;
  }
  body main .list .table .data li {
    font-size: 1rem;
  }
  body main .list .table .data li .status {
    font-size: 1rem;
  }
  body main .list .table .data li::before {
    width: 30px;
    height: 30px;
    left: 1%;
  }
  body main .list .table .data li .laptop-version {
    display: inherit;
  }
  body main .footer-laptop {
    display: flex;
  }
  body header, body footer {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
