*
{
    transition: all 1s ease;
}
main 
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
    height: 1000px;
    overflow: hidden;
}
.blocks
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.block 
{
    width: 90%;
    height: 200px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 40px;
}
.image
{
    background-color: #03a7d3;
    height: 20%;
    width: auto;
    aspect-ratio: 1;
    align-content: center;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
}
img
{
    width: 60%;
    height: auto;
}
h4
{
    margin: 15px 0 0 0;
}
span
{
    text-align: center;
    margin-top: 10px;
    width: 85%;
}
a
{
    margin: 15px 0 15px 0;
    text-decoration: none;
    color: #03a7d3;
}
.block:hover
{
    .image
    {
        background-color: rgba(255, 0, 0, 0.63);
    }
    a
    {
        color: rgba(255, 0, 0, 0.63);;
    }
}

@media (min-width: 768px) and (max-width: 1024px)
{
    .block 
    {
        width: 40%;
    }
}
@media (min-width: 1024px)
{
    .block
    {
        width: 30%;
    }
}