@media (min-width: 600px) and (max-width: 800px) {
    .text-plans { 
        flex-direction: column;
    }
    .plans {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 95%;
    }
    
    .text-photos .photos
    {
        top: 0px !important;
        float: none !important;
        width: 95% !important;
        display: flex !important;
        justify-content: space-between !important;
        margin: auto !important;
    }
    .text-photos p
    {
        width: 100% !important;
        height: fit-content !important;
        margin: 0px !important;
    }
    .text-photos .photos .info
    {
        width: auto !important;
        height: fit-content !important;
        margin: 0px !important;
    }
    .text-photos .photos .photo
    {
        width: 250px !important;
    }
    .text-photos .photos .photo img
    {
        width: 250px !important;
    }
}

@media (max-width: 599px) {
    .text-plans { 
        flex-direction: column;
    }
    .text-plans .plans {
        display: block;
        width: 100%;
    }
    .text-plans .plans .actions {
        width: 100%;
        margin: 5px 0;
    }
    .text-plans .plans .plan {
        width: 100%;
        margin: 5px 0;
    }

        
    .text-photos .photos
    {
        top: 0px !important;
        float: none !important;
        width: 95% !important;
        display: block !important;
        justify-content: space-between !important;
        margin: auto !important;
    }
    .text-photos p
    {
        width: 100% !important;
        height: fit-content !important;
        margin: 0px !important;
    }
    .text-photos .photos .photo .info
    {
        width: auto !important;
        height: fit-content !important;
        margin: 0px !important;
    }
    .text-photos .photos .photo
    {
        width: 90% !important;
    }
    .text-photos .photos .photo img
    {
        width: 100% !important;
    }
}

.text-plans {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.text-plans .text {
    width: 100%;
    clear: right;
}

.text-plans li {
    list-style-type: none;
    padding-left: 5px;
}

.text-plans h5 {
    color: white;
    background-color: rgb(59, 59, 108);
    padding: 5px 0px 5px 10px;
    margin: 0;
}
.text-plans .plans {
    float: right;
}

.text-plans .actions, .plan {
    width: 300px;
    height: auto;
    background-color: rgb(155, 155, 200);
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 5px;
    color: rgb(73, 73, 73);
}

.text-photos
{
    width: 95%;
    margin: 2.5%;
}
.text-photos .photos .photo img
{
    width: 300px;
    height: auto;
}
.text-photos .photos .photo
{
    width: 300px;
    height: fit-content;
    color: whitesmoke;
    background-color: rgb(54, 53, 52);
    margin-bottom: 10px;
}
.text-photos .photos .photo p
{
    display: block;
    width: auto;
    text-align: end;  
    height: auto;
    margin-top: 0px;
    padding: 10px;
}
.text-photos p
{
    width: calc(100% - 300px);
}
.text-photos .photos
{
    position: relative;
    top: -100px;
    width: 300px;
    height: auto;
    float: right;
}