@import "variables";
@import "mixins";

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header
{
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .control
    {
        height: 50%;
        align-content: center;
        color: $pr-blue
    }
}
.invisible
{
    visibility: hidden;
}

main
{
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cards
    {
        width: 91vw;
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        
        .card
        {
            flex: 1 1 calc(50% - 8px);
            height: 25vw;
            padding: 16px;
            color: white;
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15%;
            
            .content
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 1;
                font-size: 4vw;
                .icon
                {
                    height: 8vw;
                    width: 10vw;
                    padding: 1.2vw 2.4vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid transparent;
                    border-radius: 80px;
                    content: url(../../images/arrow_rise.svg);
                }
                &:first-child
                {
                    font-size: 4vw;
                }
                &:last-child .text:first-child
                {
                    font-size: 5vw;
                    font-weight: 600;
                }
            }
        }
    }
    .blue-gradient
        {
            background-image: $blue-gradient;
            @include blue-gradient-icon;

        }
        .black-gradient
        {
            background-image: $black-gradient;
            @include black-gradient-icon;
            
        }

    .graphic
    {
        width: 91vw;
        height: 61vw;
        border-radius: 16px;
        margin-top: 16px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;

        .group
        {
            width: 91%;
            font-size: 4.5vw;
            margin-top: 16px;
            ul
            {
                list-style-type: none;
                display: flex;
                gap: 16px;

                li:nth-child(1)
                {
                    color: $secondary-purple;
                }
            }
        }
        .frame
        {
            position: relative;
            height: 75%;
            width: 91%;
            margin-top: 16px;
            .graph
            {
                height: 90%;
                img
                {
                    width: 100%;
                }
            }
            .bottom_text
            {
                width: 100%;
                font-size: 3.2vw;
                ul
                {
                    list-style-type: none;
                    display: flex;
                    li
                    {
                        text-align: center;
                        width: calc(100% / 6);
                    }
                }
            }
        }
    }
    .graphic-2
    {
        width: 91vw;
        height: 61vw;
        background-color: white;
        margin-top: 16px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text
        {
            width: 91%;
            margin-top: 16px;
            font-size: 4.5vw;
            color: $pr-blue;
        }
        .graph
        {
            height: 75%;
            width: 91%;
            margin-top: 16px;
            .vertical_bars
            {
                height: 80%;
                display: flex;
                justify-content: space-around;

                .vertical_bar
                {
                    flex: 1;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: flex-start;
                    align-items: center;
                    .progress
                    {
                        display: flex;
                        width: 75%;
                        background-color: $graph-grey;
                        border-radius: 12px;
                        margin-top: 8px;
                    }
                    .title
                    {
                        width: 95%;
                        color: white;
                        padding: 4px 8px;
                        border-radius: 16px;
                    }
                }
            }
            .bottom_text
            {
                margin-top: 14px;
                ul
                {
                    list-style-type: none;
                    display: flex;
                    li
                    {
                        font-size: 3.2vw;
                        text-align: center;
                        flex: 1 1;
                    }
                }
            }
        }
    }
    .graphic-3
    {
        width: 91vw;
        height: 61vw;
        background-color: white;
        margin-top: 16px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text
        {
            width: 91%;
            margin-top: 16px;
            font-size: 4.5vw;
            color: $secondary-green;
        }
        .graph
        {
            height: 75%;
            width: 91%;
            margin-top: 16px;
            .vertical_bars
            {
                height: 80%;
                display: flex;
                justify-content: space-around;

                .vertical_bar
                {
                    flex: 1;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: flex-start;
                    align-items: center;
                    .progress
                    {
                        display: flex;
                        width: 75%;
                        background-color: $graph-grey;
                        border-radius: 12px;
                        margin-top: 8px;
                    }
                }
            }
            .bottom_text
            {
                margin-top: 14px;
                ul
                {
                    list-style-type: none;
                    display: flex;
                    li
                    {
                        font-size: 3.2vw;
                        text-align: center;
                        flex: 1 1;
                    }
                }
            }
        }
    }
    .graphic-4
    {
        width: 91vw;
        height: 61vw;
        background-color: white;
        margin-top: 16px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text
        {
            width: 91%;
            margin-top: 16px;
            font-size: 4.5vw;
            color: $secondary-red;
        }
        .group
        {
            width: 91%;
            margin-top: 16px;
            font-size: 3.2vw;
            ul
            {
                display: flex;
                gap: 16px;
                list-style-type: none;
                li
                {
                    display: flex;
                    align-items: center;
                    &:nth-child(1) .circle
                    {
                        background-color: black;
                    }
                    &:nth-child(2) .circle
                    {
                        background-color: $grey-40;
                    }
                    &:nth-child(3) .circle
                    {
                        background-color: $secondary-red;
                    }
                    .circle
                    {
                        width: 4px;
                        height: 4px;
                        border-radius: 100%;
                        margin-right: 5px;
                    }
                }
            }
        }
        .graph
        {
            height: 50%;
            width: 91%;
            margin-top: 16px;
            .vertical_bars
            {
                height: 80%;
                display: flex;
                justify-content: space-around;
                margin-top: 8px;

                .vertical_bar
                {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: flex-end;
                    .progress
                    {
                        display: flex;
                        flex-wrap: nowrap;
                        flex-direction: column-reverse;
                        width: 10%;
                        border-radius: 12px;
                        margin-top: 3px;
                    }
                    .bg-red
                    {
                    background-color: $secondary-red; 
                    }
                    .bg-grey
                    {
                    background-color: $grey-40; 
                    }
                    .bg-black
                    {
                    background-color: black; 
                    }
                }
            }
            .bottom_text
            {
                margin-top: 14px;
                ul
                {
                    list-style-type: none;
                    display: flex;
                    li
                    {
                        font-size: 3.2vw;
                        text-align: center;
                        flex: 1 1;
                    }
                }
            }
        }
    }

    .h10
    {
        height: 10%;
    }
    .h20
    {
        height: 20%;
    }
    .h30
    {
        height: 30%;
    }
    .h40
    {
        height: 40%;
    }
    .h50
    {
        height: 50%;
    }
    .h60
    {
        height: 60%;
    }
    .h70
    {
        height: 70%;
    }
    .h80
    {
        height: 80%;
    }
    .h90
    {
        height: 90%;
    }
    .h100
    {
        height: 100%;
    }

    .list
    {
        width: 91vw;
        height: 77vw;
        background-color: white;
        margin-top: 16px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text
        {
            width: 91%;
            margin-top: 16px;
            font-size: 4vw;
            color: $secondary-mint;
        }
        .table
        {
            width: 91%;
            margin-top: 16px;
            display: flex;
            align-items: stretch;
            height: 78%;

            ul
            {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                margin-top: 4px;
                width: 100%;
                gap: 4px;
                li
                {
                    flex: 1 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: $bg-grey-list;
                    padding-left: 44px;
                    position: relative;
                    font-size: 3.5vw;
                    border-radius: 16px;
                    &::before
                    {
                        content: url(../../images/list_icon.png);
                        position: absolute;
                        left: 2%;
                        height: 22px;
                        width: 22px;
                        top: 8px;
                    }
                    .status
                    {
                        padding: 4px 12px;
                        margin-right: 8px;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
    .in-progress
    {
        color: $secondary-purple;
        background-color: $bg-purple;
    }
    .complete
    {
        color: $secondary-green;
        background-color: $bg-green;
    }
    .pending
    {
        color: $secondary-blue;
        background-color: $bg-blue;
    }
    .approved
    {
        color: $secondary-yellow;
        background-color: $bg-yellow;
    }
    .rejected
    {
        color: $grey-40;
        background-color: $bg-grey;
    }
}
footer
{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $bg-color;
    border-radius: 0 0 32px 32px;
    .group
    {
        width: 91vw;
        display: flex;
        align-items: center;
        justify-content: center;
        ul
        {
            list-style-type: none;
            width: 85vw;
            display: flex;
            li
            {
                flex: 1;
                text-align: center;
                font-size: 5.5vw;
            }
        }
    }
}