body
{
    margin: 0;
}
.message-wrapper
{
    display: flex;
    justify-content: center;
}
.message
{
    display: flex;
    align-items: center;
}
.user
{
    width: 175px;
    height: 150px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
img
{
    width: 80px;
    height: 80px;
}
.bubble
{
    display: inline-block;
    width: 500px;
}