body
{
    margin: 0;
}
.message-wrapper
{
    display: flex;
    justify-content: center;
}
.message
{
    display: flex;
    align-items: center;
}
.user
{
    width: 200px;
    height: 150px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.user .user-info
{
    padding: 5px;
}
.user img
{
    width: 80px;
    height: 80px;
}
.user h4
{
    margin: 0;
    padding: 5px 0;
}
.user span
{
    color: rgb(187, 187, 187);
}
.bubble
{
    display: inline-block;
    width: 500px;
}