body
{ 
    box-sizing: border-box;
}
.photo
{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 600px;
    border-style: solid;
    position: relative;
}
.photo img
{
    position: relative;
    top: 25%;
    left: 30%;
    width: 300px;
    z-index: 1;
    opacity: 1;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(207, 207, 207);
}
.border-top, .border-right, .border-bottom, .border-left
{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: pink;
    position: absolute;

    top: 24.3%;
    left: 30.6%;
    rotate: 45deg;
}
.border-top
{
    top: 24.3%;
    left: 30.6%;
    border-width: 10px 0px 0px 0px;
    z-index: 2;
}
.border-right
{
    top: 24.2%;
    left: 30%;
    border-width: 0px 10px 0px 0px;
    z-index: 0;
}
.border-bottom
{
    top: 24.4%;
    left: 30.6%;
    border-width: 0px 0px 10px 0px;
    z-index: 2;
}
.border-left
{
    top: 26.2%;
    left: 30%;
    border-width: 0px 0px 0px 10px;
    z-index: 0;
}
.projects
{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
.project
{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: block;
}
.project-photo
{
    height: 120px;
    overflow: hidden;
    transition: all 1s ease;
}
.project-photo img
{
    height: 160px;
    position: relative;
    top: -20px;
    left: 0px;
    transition: all 1s ease;
}
.project-photo .project-photo3
{
    height: 160px;
    position: relative;
    top: -20px;
    left: -25px;
    transition: all 1s ease;
}
.project-info
{
    position: relative;
    height: 80px;
    top: 0px;
    color: black;
    background-color: rgb(236, 226, 226, 1);
    text-align: left;
    align-content: center;
    overflow: hidden;
    transition: all 1s ease;
    padding: 0px 10px 0px 10px;
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: orange;
}
.project span
{
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
h6
{
    margin: 0px;
    color: grey;
    font-weight: lighter;
}
h4
{
    background-color: none;
    margin: 5px 0px 5px 0px;
}
.project:hover .project-photo
{
    height: 200px;
}
.project:hover .project-photo img
{
    height: 200px;
    top: 0px;
    left: -23px;
}
.project:hover img.project-photo3
{
    height: 200px;
    top: 0px;
    left: -58px;
}
.project:hover .project-info
{
    top: -200px;
    height: 200px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
    border-width: 0 0 5px 0;
}
.project:hover .h4-orange
{
    background-color: orange;
}
.project:hover .h4-white
{
    color: black;
    background-color: white;
}
.project:hover .h4-red
{
    background-color: rgb(181, 29, 29);
}