li
{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}
.grey
{
    background-color: lightgray;
}
.blue
{
    background-color: aqua;
}

span
{ 
    text-decoration: line-through;
}
.blue::before
{
    content: url(chkbox1.png);
    margin-right: 15px;
}
.grey::before
{
    content: url(chkbox2.png);
    margin-right: 15px;
}
.blue::after
{
    color: red;
    content: "x";
    margin-left: 15px;
}
.grey::after
{
    color: red;
    content: "x";
    margin-left: 15px;
}