ol
{
    background-color: #ef9eaf;
    list-style-position: inside;
    padding: 10px;
    font-size: 20px;
    color: white;
}
li
{
    background-color: #c66377; 
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
}
span
{
    background-color: #9e344a;
    padding: 10px;
    border-radius: 3px;
}