*
{
    margin: 0;
}
body
{
    min-width: 600px;
    max-width: 1200px;
}
header
{
    display: flex;
    background-color: rgba(56,56,56,255);
    color: white;
    width: 100%;
    padding: 10px 0;
} 
.logo
{
    align-content: center;
    text-align: center;
    font-size: 24px;
    width: 20%;
    font-family: Impact;
}
.menu
{
    width: 50%;
    align-content: center;
}
.menu ul
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    list-style-type: none;
}
main
{
    width: 100%;
    height: 1000px;
    background-color: rgba(211,211,211,255);
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.main-content
{
    margin: 30px 5px 5px 25px;
    width: 65%;
    height: fit-content;
    background-color: rgba(245,245,245,255);
}
.side-content
{
    margin: 30px 25px 5px 5px;
    width: 27%;
    height: 90%;
}
h2
{
    margin: 30px 0 10px 30px;
}
h6
{
    color: gray;
    margin: 0px 0 20px 30px;
}
.main-content img
{
    width: 100%;
    height: auto;
}
span
{
    display: block;
    margin: 15px 30px 30px 30px;
}

.one-block
{
    width: 100%;
    height: auto;
    background-color: rgba(245,245,245,255);
}
.one-block ul
{
    padding: 0px 15px 15px 15px;
    list-style-type: none;
}
.one-block li
{
    display: flex;
    align-items: center;
    margin: 25px 0;
}
.one-block li:first-child
{
    margin-top: 0;
}
.one-block img
{
    width: 50px;
    display: inline;
}
.one-block span
{
    display: inline;
    margin: 0;
    margin-left: 20px;
}
.one-block h4
{
    padding: 25px;
}
.two-block
{
    margin-top: 15px; 
    background-color: rgba(245,245,245,255);
}
.two-block span
{
    display: inline-block;
    margin: 20px 20px;
}