@media (min-width: 768px) and (max-width: 1024px)
{
    input
    {
        top: -50px;
    }
    .additional-content .additional-content-photos .image
    {
        width: 45% !important;
    }
}
@media (min-width: 320px) and (max-width: 767px)
{
    input 
    {
        position: absolute !important;
        top: 30px;
        right: 5%;
        width: 100px !important;
    }
    .main
    {
        display: inline-block !important;
    }
    .big-content
    {
        width: auto !important;
    }
    .additional-content
    {
        width: 100% !important;
        float: none !important;
    }
    .header-menu-list span
    {
        justify-content: space-between !important;
        width: 90%;
        margin: auto;
    }
    .additional-content .additional-content-photos .image
    {
        width: 9.5% !important;
    }
}

.body-wrapper, .header-logo, .header-menu-list, input, .big-content, .additional-content-list, .additional-content-photos
{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.body-wrapper
{
    padding: 10px;
}
.body-wrapper .header-logo
{
    align-content: center;
    text-align: center;
    width: 100px;
    height: 50px;
}
.header-menu-list
{
    margin-top: 5px;
    padding: 5px;
}
ul
{
    list-style-type: none;
    display: inline;
    padding-left: 10px;
    margin: 0;
}
span
{
    display: flex;
    padding: 0px;
}
input
{
    position: relative;
    align-self: end;
    margin-left: auto;
}
.main
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.big-content
{
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    height: auto;
}
.big-content h4
{
    margin: 0;
}
.big-content .big-content-photo
{
    margin: 5px 5px 5px 5px;
    width: auto;
    height: 250px;
    background-color: rgb(167, 167, 167);
}
.big-content span
{
    margin-top: 10px;
}
.additional-content
{
    position: relative;
    margin-top: 10px;
    width: 45%;
    float: right;
}
.additional-content .additional-content-list
{
    padding: 5px;
    padding-bottom: 15px;
}
.additional-content .additional-content-list h4
{
    margin: 5px 0 5px 0;
}
.additional-content .additional-content-list li
{
    list-style-type: none;
    margin-top: 5px;
}
.additional-content .additional-content-photos
{
    margin-top: 10px;
    padding: 10px;
}
.additional-content .additional-content-photos h4
{
    margin: 5px 0 5px 0;
}
.additional-content .additional-content-photos .photos
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.additional-content .additional-content-photos .image
{
    background-color: rgb(179, 179, 179);
    width: 20%;
    aspect-ratio: 1;
    margin: 5px;
}
.footer
{
    margin-top: 10px;
}