
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
}
*
{
    font-family: 'Roboto';
}
body
{
    background-color: #252B42;
    min-width: 410px;
    padding: 100px 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.content
{
    width: 87%;
    height: 91%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}
.text-content
{
    width: 88%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}
.text-content h2
{
    width: 78%;
    margin: 0;
    padding: 10px;
    font-size: 46px;
    line-height: 57px;
    font-weight: 400;
}
.text-content h4
{
    margin: 0;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}
.social
{
    width: 52%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.social-media
{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.social-media img
{
    width: 41px;
    height: 41px;
}
.items
{
    width: 73%;
    padding: 18px 0;
    margin-bottom: 50px;
}
.contact-style
{
    padding: 10px 0;
    color: white;
}
.block
{
    display: flex;
    align-items: center;
}
.block h6
{
    margin: 0;
    padding: 10px;
    font-size: 12px;
    line-height: 18px;
}
.action-content
{
    width: 100%;
}
.sign-up-form
{
    background-color: white;
    border-radius: 20px;
    padding: 52px 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-up-form h3
{
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    margin: 0 0 45px 0;
}
form
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sign-up-form form input
{
    background-color: #F5F5F5;
    border: 0;
    width: 280px;
    margin-bottom: 45px;
}
.sign-up-form form input::placeholder
{
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}
.sign-up-form form  .name, .email
{
    height: 54px;
    padding: 19px 20px;
    border-radius: 40px;
}
.sign-up-form form .message
{
    height: 10px;
    padding: 23px 20px 190px 20px;
}
.sign-up-form form button
{
    width: 150px;
    height: 55px;
    border: 0;
    border-radius: 35px;
    padding: 18px 38px;
    background-color: #EF2779;
    color: white;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}
.desktop-content
{
    display: none;
}

@media (min-width: 700px)
{
    .content
    {
        display: none;
    }
    .desktop-content
    {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 91%;
    }
    .row
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60%;
    }
    .left
    {
        width: 400px;
        height: 100%;
    }
    .action-content
    {
        height: 100%;
    }
    .sign-up-form
    {
        border-radius: 13px;
        padding: 26px 41px;
        align-items: center;
        height: 100%;
    }
    form 
    {
        align-items: center;
    }
    .sign-up-form form  .name, .email
    {
        border-radius: 25px;
        height: 35px;
        padding: 12px 13px;
    }
    .sign-up-form form .message
    {
        height: 10px;
        padding-bottom: 110px;
        line-height: 1;
        vertical-align: top;
    }
    .sign-up-form form input
    {
        margin-bottom: 31px;
        width: 320px;
    }
    .sign-up-form form button
    {
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
    }
    .right
    {
        width: 36%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .items
    {
        margin-bottom: 50px;
        padding: 0;
    }
    .social
    {
        width: 65%;
        margin-bottom: 0;
    }
}