body
{
    height: 300px;
    background-color: darksalmon;
}
hr
{
    margin-top: 300px;
}
.ball
{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 30px;
    background-color: wheat;
    align-content: center;
    text-align: center;
    border-radius: 100%;
    animation: bounce 5s ease-in forwards;
}
@keyframes bounce
{
    0%
    {
        rotate: 0deg;
        width: 50px;
        height: 50px;
        top: 100px;
        left: 30px;
    }
    20%
    {
        rotate: 88deg;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 140px;
    }
    22%
    {
        rotate: 90deg;
        width: 25px;
        height: 50px;
        top: 0px;
        left: 145px;
    }
    24%
    {
        rotate: 92deg;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 150px;
    }
    40%
    {
        rotate: 178deg;
        width: 50px;
        height: 50px;
        top: 250px;
        left: 280px;
    }
    42%
    {
        rotate: 180deg;
        width: 50px;
        height: 25px;
        top: 275px;
        left: 285px;
    }
    44%
    {
        rotate: 182deg;
        width: 50px;
        height: 50px;
        top: 250px;
        left: 290px;
    }
    60%
    {
        rotate: 268deg;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 420px;
    }
    62%
    {
        rotate: 270deg;
        width: 25px;
        height: 50px;
        top: 0px;
        left: 425px;
    }
    64%
    {
        rotate: 272deg;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 430px;
    }
    80%
    {
        rotate: 358deg;
        width: 50px;
        height: 50px;
        top: 250px;
        left: 560px;
    }
    82%
    {
        rotate: 360deg;
        width: 50px;
        height: 25px;
        top: 275px;
        left: 565px;
    }
    84%
    {
        rotate: 362deg;
        width: 50px;
        height: 50px;
        top: 250px;
        left: 570px;
    }
    100%
    {
        rotate: 450deg;
        width: 50px;
        height: 50px;
        top: 100px;
        left: 730px;
    }
}