header
{
    text-align: center;
    padding-bottom: 50px;
    color: white;
}
body
{
    background-color: black;
}
article
{
    font-size: 24px;
    color: yellow;
    text-align: center;
}
.dialogue 
{
    color: white;
}
main p
{
    font-weight: bolder;
}
main blockquote
{
    border-left: 5px solid yellow;
    font-style: italic;
    padding-left: 10px;
}
main figure
{
    width: 100%;
    height: auto;
}
main figcaption
{
    color: white;
    text-align: center;

}
footer
{
    text-align: center;
    color: white;
    font-weight: lighter;
}