$bg-color: #c49d9d;
$text-color: black;
$light-blue: rgba(109, 69, 255, 0.749);
$padding-size: 10px;
$margin-0: 0;
$margin-10: 10px;
$border-small: 1px solid;
$border-color: #00ffa6;
$border-color-hover: #3c00ff;