body
{
    margin: 0;
    width: 100%;
    height: 1000px;
    background-color: rgb(127, 186, 167);
}
.flex-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.block
{
    width: calc((100% / 3) - 20px);
    height: 200px;
    background-color: rgb(244, 244, 158);
    margin: 3px;
}