body
{
    height: 300px;
    background-color: darksalmon;
}
hr
{
    margin-top: 300px;
}
.ball
{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 30px;
    background-color: wheat;
    align-content: center;
    text-align: center;
    border-radius: 100%;
    animation: bounce 5s ease-in infinite;
}
@keyframes bounce
{
    0%
    {
        background-color: wheat;
        rotate: 0deg;
        width: 50px;
        height: 50px;
        top: 100px;
        left: 30px;
    }
    10%
    {
        background-color: wheat;
        rotate: 88deg;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 140px;
    }
    12%
    {
        background-color: red;
        rotate: 90deg;
        width: 25px;
        height: 50px;
        top: 0px;
        left: 145px;
    }
    14%
    {
        background-color: red;
        rotate: 92deg;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 150px;
    }
    20%
    {
        background-color: red;
        rotate: 178deg;
        width: 50px;
        height: 50px;
        top: 250px;
        left: 280px;
    }
    22%
    {
        background-color: red;
        rotate: 180deg;
        width: 50px;
        height: 25px;
        top: 275px;
        left: 285px;
    }
    24%
    {
        background-color: yellow;
        rotate: 182deg;
        width: 50px;
        height: 50px;
        top: 250px;
        left: 290px;
    }
    30%
    {
        background-color: yellow;
        rotate: 268deg;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 420px;
    }
    32%
    {
        background-color: yellow;
        rotate: 270deg;
        width: 25px;
        height: 50px;
        top: 0px;
        left: 425px;
    }
    34%
    {
        background-color: green;
        rotate: 272deg;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 430px;
    }
    40%
    {
        background-color: green;
        rotate: 358deg;
        width: 50px;
        height: 50px;
        top: 250px;
        left: 560px;
    }
    42%
    {
        background-color: brown;
        rotate: 360deg;
        width: 50px;
        height: 25px;
        top: 275px;
        left: 565px;
    }
    44%
    {
        background-color: brown;
        rotate: 362deg;
        width: 50px;
        height: 50px;
        top: 250px;
        left: 570px;
    }
    50%
    {
        background-color: brown;
        rotate: 448deg;
        width: 50px;
        height: 50px;
        top: 100px;
        left: 755px;
    }
    52%
    {
        background-color: aqua;
        rotate: 450deg;
        width: 50px;
        height: 25px;
        top: 100px;
        left: 762px;
    }
    54%
    {
        background-color: aqua;
        rotate: 452deg;
        width: 50px;
        height: 50px;
        top: 100px;
        left: 758px;
    }
    60%
    {
        background-color: aqua;
        rotate: 540deg;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 575px;
    }
    62%
    {
        background-color: pink;
        rotate: 544deg;
        width: 50px;
        height: 25px;
        top: 0px;
        left: 565px;
    }
    70%
    {
        background-color: pink;
        rotate: 630deg;
        width: 50px;
        height: 50px;
        top: 250px;
        left: 430px;
    }
    72%
    {
        background-color: blue;
        rotate: 632deg;
        width: 25px;
        height: 50px;
        top: 275px;
        left: 425px;
    }
    74%
    {
        background-color: blue;
        rotate: 634deg;
        width: 50px;
        height: 50px;
        top: 250px;
        left: 420px;
    }
    80%
    {
        background-color: blue;
        rotate: 634deg;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 290px;
    }
    82%
    {
        background-color: darkgoldenrod;
        rotate: 634deg;
        width: 50px;
        height: 25px;
        top: 0px;
        left: 285px;
    }
    84%
    {
        background-color: darkgoldenrod;
        rotate: 634deg;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 280px;
    }
    90%
    {
        background-color: darkgoldenrod;
        rotate: 630deg;
        width: 50px;
        height: 50px;
        top: 250px;
        left: 140px;
    }
    92%
    {
        background-color: silver;
        rotate: 632deg;
        width: 25px;
        height: 50px;
        top: 275px;
        left: 145px;
    }
    94%
    {
        background-color: silver;
        rotate: 634deg;
        width: 50px;
        height: 50px;
        top: 250px;
        left: 150px;
    }
    100%
    {
        rotate: 0deg;
        width: 50px;
        height: 50px;
        top: 100px;
        left: 30px;
    }
}