@import "variables";
@import "mixins";

@font-face {
    font-family: "Inter";
    src: url(../../fonts/Inter-normal.ttf);
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
    font-style: normal;
    transition: all 0.3s ease;
}
.bi::before
{
    color: var(--bi-icon-color);
}
header
{
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .control
    {
        height: 50%;
        align-content: center;
        color: var(--pr-blue)
    }
}
.invisible
{
    visibility: hidden;
}
aside
{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 100vh;
    padding: 16px;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;

    color: var(--white-text);
    background-color: var(--bg-color);
    .part-top
    {
        width: 100%;
        // margin-top: 30px;
        .logo
        {
            width: 100%;
            height: 10%;
            padding: 8px 8px 16px 12px;
            margin-bottom: 8px;
            img
            {
                width: 153px;
            }
        }
        ul
        {
            list-style-type: none;
            width: 100%;
            padding: 0;
            li
            {
                font-size: 16px;
                display: flex;
                align-items: center;
                width: max-content;
                gap: 8px;
                width: 100% !important;

                padding: 12px;
                border-radius: 20px;
                i
                {
                    padding: 8px;
                    background-color: var(--white);
                    border-radius: 12px;
                    
                    &::before
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        width: 24px;
                        height: 24px;
                    }
                }
                &:hover
                {
                    background-color: var(--bg-grey);
                    --white-space: nowrap;
                    width: 100%;
                }
            }
        }
    }
    .part-bottom
    {
        width: 100%;
        ul
        {
            list-style-type: none;
            width: 100%;
            padding: 0;
            li
            {
                font-size: 16px;
                display: flex;
                align-items: center;
                width: max-content;
                gap: 8px;

                padding: 12px;
                border-radius: 20px;
                i
                {
                    padding: 8px;
                    background-color: var(--white);
                    border-radius: 12px;
                    
                    &::before
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        width: 24px;
                        height: 24px;
                    }
                }
                &:hover
                {
                    background-color: var(--bg-grey);
                    --white-space: nowrap;
                    width: 100%;
                }
            }
        }
    }
}
main
{

    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    padding: 16px;
    gap: 16px;
    nav
    {
        display: none;
        justify-content: space-between;
        background-color: var(--bg-color);
        width: 100%;
        height: auto;
        .left-part 
        {
            display: flex;
            align-items: center;
            .icons
            {
                display: flex;
                gap: 4px;
                i
                {
                    padding: 16px;
                    display: flex;
                    &::before
                    {
                        width: 24px;
                        height: 24px;
                        text-align: center;
                        align-content: center;
                        font-size: 24px;
                    }
                    &:hover
                    {
                        translate: 0px -5px;
                    }
                }
            }
            .breadcrumb
            {
                margin: 0 0 0 0.4vw;
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                li:nth-child(1) a
                {
                    color: var(--grey-40);
                    text-decoration: none;
                    &:hover
                    {
                        background-color: var(--bg-grey);
                        --white-space: nowrap;
                        padding: 8px;
                        border-radius: 12px;
                    }
                }
                li:nth-child(2)
                {
                    color: var(--white-text);
                    &:hover
                    {
                        background-color: var(--bg-grey);
                        --white-space: nowrap;
                        margin-left: 5px;
                        padding: 8px;
                        border-radius: 12px;
                    }
                    &::before
                    {
                        color: var(--grey-40);
                    }
                }
            }
        }
        .right-part
        {
            display: flex;
            align-items: center;
            .search-bar
            {
                display: flex;
                align-items: center;
                background-color: var(--bg-grey);
                border-radius: 16px;
                padding: 8px 12px;
                width: 11vw;
                height: 70%;
                margin-right: 0.5vw;
                .bi-search
                {
                    font-size: 16px;
                    margin-right: 5%;
                    &::before
                    {
                        color: var(--input-color);
                    }
                }
                .search-input 
                {
                    width: 70%;
                    border: none;
                    outline: none;
                    background: transparent;
                    font-size: 14px;
                    color: var(--input-color);
                    &::placeholder
                    {
                        color: var(--bg-grey-hover);
                    }
                }
                .bi-command {
                    font-size: 12px;
                    margin-left: 8px;
                    &::before
                    {
                        color: var(--input-color);
                    }
                }
                &:hover
                {
                    background-color: rgba(128, 128, 128, 0.384);
                }
            }
            .icons
            {
                display: flex;
                gap: 8px;
                i
                {
                    padding: 16px;
                    display: flex;
                    &::before
                    {
                        width: 24px;
                        height: 24px;
                        text-align: center;
                        align-content: center;
                        font-size: 24px;
                    }
                    &:hover
                    {
                        translate: 0px -5px;
                    }
                }
            }
        }
    }
    .cards
    {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        .card
        {
            flex: 1 1 calc(50% - 8px);
            min-width: 160px;
            border-radius: 24px;
            padding: 16px;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .content
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:first-of-type
                {
                    .text
                    {
                        font-size: 14px;
                        line-height: 20px;
                    }
                    .icon
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 4px 8px;
                        width: fit-content;
                        border-radius: 80px;
                        border: 1px solid transparent;
                        img
                        {
                            width: 24px;
                            height: 24px;
                            padding: 2px;
                        }
                    }
                }
                &:last-of-type
                {
                    .text:first-of-type
                    {
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 600;
                    }
                    .text:last-of-type
                    {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    // .cards
    // {
    //     width: 91%;
    //     margin-top: 16px;
    //     display: flex;
    //     flex-wrap: wrap;
    //     gap: 8px;
        
    //     .card
    //     {
    //         flex: 1 1 calc(50% - 8px);
    //         height: 16.5vh;
    //         padding: 16px;
    //         color: --white;
    //         border-radius: 24px;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-between;
    //         gap: 15%;
            
    //         .content
    //         {
    //             display: flex;
    //             justify-content: space-between;
    //             align-items: center;
    //             flex: 1;
    //             font-size: 1.1rem;
    //             .icon
    //             {
    //                 height: 5vh;
    //                 width: 10vw;
    //                 padding: 1.2vw 2.4vw;
    //                 display: flex;
    //                 justify-content: center;
    //                 align-items: center;
    //                 border: 1px solid transparent;
    //                 border-radius: 80px;
    //                 content: url(../../images/arrow_rise.svg);
    //             }
    //             &:first-child
    //             {
    //                 font-size: 1.1rem;
    //                 .text:hover
    //                 {
    //                     translate: 5px 0;
    //                 }
    //             }
    //             &:last-child .text:first-child
    //             {
    //                 font-size: 1.2rem;
    //                 font-weight: 600;
    //                 &:hover
    //                 {
    //                     translate: 5px 0;
    //                 }
    //             }
    //         }
    //     }
    // }
    .blue-gradient
    {
        background-image: var(--blue-gradient);
        @include blue-gradient-icon;
    }
    .black-gradient
    {
        background-image: var(--black-gradient);
        @include black-gradient-icon;
    }

    .graphic
    {
        height: 240px;
        width: 100%;
        padding: 16px;
        border-radius: 16px;
        margin-top: 16px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        background-color: var(--white);

        .group
        {
            width: 329px;
            align-items: center;
            align-self: flex-start;
            ul
            {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                gap: 16px;
                margin: 0;
                padding: 0;
                color: var(--grey-40);
                li
                {
                    color: var(--grey-40);
                    &:hover
                    {
                        color: var(--secondary-purple);
                        margin: 0 5px;
                    }
                }
                li.active
                {
                    color: var(--secondary-purple);
                }
                
            }
            .dropdowns
            {
                display: none;
                align-items: center;
                gap: 10px;
                select
                {
                    font-size: 16px;
                    line-height: 24px;
                    border: none;
                    padding: 8px 16px;
                    background-color: var(--bg-grey);
                    border-radius: 12px;
                    width: auto;
                    color: var(--white-text);
                    
                    option
                    {
                        background-color: var(--bg-color);
                        color: var(--white-text);
                    }
                }
                i
                {
                    display: inherit;
                    padding: 8px;
                    background-color: var(--bg-grey);
                    border-radius: 12px;
                    color: black;
                    &::before
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                    }
                    &:hover
                    {
                        background-color: var(--bg-grey-hover);
                    }
                }
            }
        }
        .frame
        {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;
            .graph
            {
                width: 100%;
                height: 168px;
                position: relative;
                // overflow: hidden;
                .graphic-mobile
                {
                    display: block;
                    width: 100%;
                    height: auto;
                    transition: none !important;
                    // width: 100% !important;
                    // height: 100% !important;
                }
                img
                {
                    width: 100%;
                    height: 100%;
                }
                .graphic-laptop
                {
                    display: none;
                }
            }
            .bottom_text
            {
                width: 100%;
                position: absolute;
                top: 152px;
                ul
                {
                    list-style-type: none;
                    display: flex;
                    padding: 0;
                    margin: 0;
                    font-size: 12px;
                    line-height: 16px;
                    li
                    {
                        text-align: center;
                        width: calc(100% / 6);
                    }
                }
            }
        }
    }
    .graphic-2
    {
        width: 100%;
        height: 240px;
        background-color: var(--white);
        margin-top: 16px;
        padding: 16px;
        gap: 16px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .text
        {
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            color: var(--pr-blue);
            i
            {
                display: none;
            }
        }
        .graph
        {
            height: 100%;
            width: 100%;
            position: relative;
            .vertical_bars
            {
                height: 80%;
                display: flex;
                justify-content: space-around;

                .vertical_bar
                {
                    flex: 1;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: flex-start;
                    align-items: center;
                    .progress
                    {
                        display: flex;
                        width: 75%;
                        background-color: var(--graph-grey);
                        border-radius: 12px;
                        margin-top: 8px;
                    }
                    .title
                    {
                        width: 95%;
                        color: white;
                        padding: 4px 8px;
                        border-radius: 16px;
                        font-size: 0.8rem;
                        text-align: center;
                    }
                }
            }
            .bottom_text
            {
                position: absolute;
                top: 152px;
                width: 100%;
                color: var(--white-text);
                ul
                {
                    list-style-type: none;
                    display: flex;
                    padding: 0;
                    li
                    {
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        flex: 1 1;
                    }
                }
            }
        }
    }
    .graphic-3
    {
        width: 100%;
        height: 240px;
        background-color: var(--white);
        margin-top: 16px;
        padding: 16px;
        gap: 16px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .text
        {
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            color: var(--secondary-green);
            i
            {
                display: none;
            }
        }
        .graph
        {
            height: 100%;
            width: 100%;
            position: relative;
            .vertical_bars
            {
                height: 80%;
                display: flex;
                justify-content: space-around;

                .vertical_bar
                {
                    flex: 1;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: flex-start;
                    align-items: center;
                    .progress
                    {
                        display: flex;
                        width: 75%;
                        background-color: var(--graph-grey);
                        border-radius: 12px;
                        margin-top: 8px;
                    }
                    .title
                    {
                        width: 95%;
                        color: var(--white);
                        padding: 4px 8px;
                        border-radius: 16px;
                        font-size: 0.8rem;
                        text-align: center;
                    }
                }
            }
            .bottom_text
            {
                position: absolute;
                top: 152px;
                width: 100%;
                color: var(--white-text);
                ul
                {
                    list-style-type: none;
                    display: flex;
                    padding: 0;
                    li
                    {
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        flex: 1 1;
                    }
                }
            }
        }
    }
    .graphic-4
    {
        width: 100%;
        height: 240px;
        padding: 16px;
        gap: 16px;
        background-color: var(--white);
        margin-top: 16px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text
        {
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            color: var(--secondary-red);
        }
        .group
        {
            width: 100%;
            font-size: 12px;
            line-height: 16px;
            ul
            {
                display: flex;
                gap: 16px;
                list-style-type: none;
                padding: 0;
                margin: 0;
                color: var(--white-text);
                li
                {
                    display: flex;
                    align-items: center;
                    &:nth-child(1) .circle
                    {
                        background-color: black;
                    }
                    &:nth-child(2) .circle
                    {
                        background-color: var(--grey-40);
                    }
                    &:nth-child(3) .circle
                    {
                        background-color: var(--secondary-red);
                    }
                    .circle
                    {
                        width: 4px;
                        height: 4px;
                        border-radius: 100%;
                        margin-right: 5px;
                    }
                    i
                    {
                        padding: 8px;
                        background-color: var(--bg-grey);
                        border-radius: 12px;
                        color: black;
                        &::before
                        {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 20px;
                            height: 20px;
                        }
                        &:hover
                        {
                            background-color: var(--bg-grey-hover);
                        }
                    }
                }
                .laptop-version
                {
                    display: none;
                }
            }
        }
        .graph
        {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .vertical_bars
            {
                height: 80%;
                display: flex;
                justify-content: space-around;
                margin-top: 8px;

                .vertical_bar
                {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: flex-end;
                    .progress
                    {
                        display: flex;
                        flex-wrap: nowrap;
                        flex-direction: column-reverse;
                        background-color: transparent;
                        width: 10%;
                        border-radius: 12px;
                        margin-top: 3px;
                    }
                    .bg-red
                    {
                    background-color: var(--secondary-red); 
                    }
                    .bg-grey
                    {
                    background-color: var(--grey-40); 
                    }
                    .bg-black
                    {
                    background-color: var(--white-text) !important; 
                    }
                    .long-version
                    {
                        display: none;
                    }
                }
                .long-version
                {
                    display: none;
                }
            }
            .bottom_text
            {
                margin-top: 8px;
                color: var(--white-text);
                ul
                {
                    list-style-type: none;
                    display: flex;
                    margin: 0;
                    padding: 0;
                    li
                    {
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        flex: 1 1;
                    }
                    .long-version
                    {
                        display: none;
                    }
                }
            }
        }
    }

    .h10
    {
        height: 10%;
    }
    .h20
    {
        height: 20%;
    }
    .h30
    {
        height: 30%;
    }
    .h40
    {
        height: 40%;
    }
    .h50
    {
        height: 50%;
    }
    .h60
    {
        height: 60%;
    }
    .h70
    {
        height: 70%;
    }
    .h80
    {
        height: 80%;
    }
    .h90
    {
        height: 90%;
    }
    .h100
    {
        height: 100%;
    }

    .list
    {
        width: 100%;
        height: auto;
        background-color: var(--white);
        margin-top: 16px;
        padding: 16px;
        gap: 16px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text
        {
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            color: var(--secondary-mint);
            display: flex;
            justify-content: space-between;
            .more
            {
                display: none;
                i
                {
                    padding: 8px;
                    background-color: var(--bg-grey);
                    border-radius: 12px;
                    color: black;
                    &::before
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                    }
                    &:hover
                    {
                        background-color: var(--bg-grey-hover);
                    }
                }
                
            }
        }
        .table
        {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            height: 100%;
            margin: 0;
            .top-text
            {
                display: none;
                width: 100%;
                align-items: center;
                justify-content: center;
                .info
                {
                    list-style-type: none;
                    display: flex;
                    padding: 0;
                    justify-content: space-between;
                    width: 95%;
                    color: var(--grey-40);
                    margin: 0;
                    li
                    {
                        color: var(--grey-40);
                        padding: 12px 16px;
                        background: transparent;
                    }
                }
            }

            .data
            {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                margin: 4px 0 0 0;
                padding: 0;
                margin: 0;
                width: 100%;
                gap: 12px;
                li
                {
                    flex: 1 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 8px;
                    padding-left: 44px;
                    position: relative;
                    font-size: 14px;
                    line-height: 20px;
                    border-radius: 16px;
                    background-color: var(--bg-grey-list);
                    color: var(--white-text);
                    &::before
                    {
                        background-image: url(../../images/list_icon.png);
                        background-repeat: no-repeat;
                        background-position: left;
                        background-size: 100% 100%;
                        content: "";
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        left: 2%;
                    }
                    .laptop-version
                    {
                        display: none;
                        background-color: transparent;
                        position: absolute;
                    }
                    .date
                    {
                        left: 31%;
                        font-size: 1rem;
                        color: var(--white-text);
                    }
                    .amount
                    {
                        right: 31.5%;
                        font-size: 1rem;
                        color: var(--white-text);
                    }
                    .status
                    {
                        padding: 4px 12px;
                        font-size: 14px;
                        line-height: 20px;
                        border-radius: 12px;
                        color: var(--pr-blue);
                    }
                    .in-progress
                    {
                        color: var(--secondary-purple);
                        background-color: var(--bg-purple);
                    }
                    .complete
                    {
                        color: var(--secondary-green);
                        background-color: var(--bg-green);
                    }
                    .pending
                    {
                        color: var(--secondary-blue);
                        background-color: var(--bg-blue);
                    }
                    .approved
                    {
                        color: var(--secondary-yellow);
                        background-color: var(--bg-yellow);
                    }
                    .rejected
                    {
                        color: var(--grey-40);
                        background-color: var(--bg-grey);
                    }
                }
                .light-grey
                {
                    background-color: var(--bg-light-grey-list);
                }
                .dark-grey
                {
                    background-color: var(--bg-grey-list);
                }
            }
        }
    }
    .footer-laptop
    {
        display: none;
        width: 95%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        color: var(--grey-40);
        padding: 16px 8px;
        .copyright
        {
            margin: 0 8px;
        }
        ul
        {
            list-style-type: none;
            display: flex;
            gap: 16px;
            margin: 0 8px;
        }
    }
    
}
footer
{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    border-radius: 0 0 32px 32px;
    .group
    {
        width: 91vw;
        display: flex;
        align-items: center;
        justify-content: center;
        ul
        {
            list-style-type: none;
            width: 85vw;
            display: flex;
            margin: 0;
            padding: 0;
            li
            {
                flex: 1;
                text-align: center;
                font-size: 1.2rem;
            }
        }
    }
}
@media (min-width: 768px)
{
    body
    {
        display: flex;
        flex-wrap: nowrap;

        aside
        {
            display: flex;
        }
        main
        {
            width: calc(100% - 240px);
            nav
            {
                display: flex;
            }
            .cards 
            {
                width: 100%;
                margin-top: 20px;
                flex-wrap: nowrap;
                gap: 20px;
                .card
                {
                    flex: 1 !important;
                    gap: 8px;
                    padding: 24px;
                    .content
                    {
                        &:first-of-type
                        {
                            .text
                            {
                                font-size: 16px;
                                line-height: 24px;
                            }
                            .icon
                            {
                                img
                                {
                                    width: 28px;
                                    height: 28px;
                                    padding: 2px;
                                }
                            }
                        }
                        &:last-of-type
                        {
                            .text:first-of-type
                            {
                                font-size: 32px;
                                line-height: 40px;
                                font-weight: 600;
                            }
                            .text:last-of-type
                            {
                                font-size: 18px;
                                line-height: 28px;
                            }
                        }
                    }
                }
            }
            .laptop-blue-gradient
            {
                background-image: var(--blue-gradient) !important;
                @include blue-gradient-icon;
            }
            .laptop-black-gradient
            {
                background-image: var(--black-gradient) !important;
                @include black-gradient-icon;
            }
            .graphic
            {
                width: 100%;
                height: 392px;
                padding: 24px;
                gap: 26px;
                .group
                {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    
                    ul
                    {
                        font-size: 18px;
                        line-height: 28px;
                        height: fit-content;
                        li
                        {
                            display: flex;
                            align-self: center;
                        }
                    }
                    .dropdowns
                    {
                        display: flex;
                    }
                }
                .frame 
                {
                    width: 100%;
                    margin: 0 !important;
                    overflow: hidden;
                    .graph
                    {
                        width: 100%;
                        height: 100%;
                        img
                        {
                            height: 100%;
                            width: 100%;
                        }
                        .graphic-mobile
                        {
                            display: block;
                            // width: 100% !important;
                            height: 100% !important;
                            transition: none !important;
                        }
                        // .graphic-laptop
                        // {
                        //     display: inherit;
                        // }
                    }
                    .bottom_text
                    {
                        top: 260px;
                        ul
                        {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }
            .graphic-2
            {
                width: 48.5%;
                padding: 24px;
                height: auto;
                .text
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 18px;
                    line-height: 28px;
                    i
                    {
                        display: inherit;
                        padding: 8px;
                        background-color: var(--bg-grey);
                        border-radius: 12px;
                        color: black;
                        &::before
                        {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 20px;
                            height: 20px;
                        }
                        &:hover
                        {
                            background-color: var(--bg-grey-hover);
                        }
                    }
                }
                .graph
                {
                    height: 168px;
                    .bottom_text
                    {
                        ul
                        {
                            li
                            {
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
            .graphic-3
            {
                width: 48.5%;
                padding: 24px;
                height: auto;
                .text
                {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 18px;
                    line-height: 28px;
                    i
                    {
                        display: inherit;
                        padding: 8px;
                        background-color: var(--bg-grey);
                        border-radius: 12px;
                        color: black;
                        &::before
                        {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 20px;
                            height: 20px;
                        }
                        &:hover
                        {
                            background-color: var(--bg-grey-hover);
                        }
                    }
                }
                .graph
                {
                    height: 168px;
                    .bottom_text
                    {
                        ul
                        {
                            li
                            {
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
            .graphic-4
            {
                height: auto;
                flex-wrap: wrap;
                justify-content: center;
                flex-direction: row;
                padding: 24px;
                gap: 24px;
                .text
                {
                    display: flex;
                    width: 48%;
                    font-size: 18px;
                    line-height: 28px;
                }   

                .group
                {
                    width: 48%;
                    ul
                    {
                        justify-content: end;
                        .laptop-version
                        {
                            display: inherit;
                        }
                    }
                }
                .graph
                {
                    height: 240px;
                    .vertical_bars
                    {
                        .vertical_bar
                        {
                            .long-version
                            {
                                display: inherit;
                            }
                        }
                        .long-version
                        {
                            display: inherit;
                        }
                    }
                    .bottom_text
                    {
                        ul
                        {
                            font-size: 14px;
                            line-height: 20px;
                            .long-version
                            {
                                display: inline;
                                text-align: center;
                                flex: 1 1;
                            }
                        }
                    }
                }
            }
            .list
            {
                width: 100%;
                justify-content: space-between;
                padding: 24px;
                gap: 24px;
                .text
                {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 28px;
                    .more
                    {
                        display: inherit;
                    }
                }
                .table
                {
                    height: 100%;
                    flex-direction: column;
                    .top-text
                    {
                        display: flex;
                    }
                    .data
                    {
                        height: 100%;
                        li
                        {
                            font-size: 1rem;
                            .status
                            {
                                font-size: 1rem;
                            }
                            &::before
                            {
                                width: 30px;
                                height: 30px;
                                left: 1%;
                            }
                            .laptop-version
                            {
                                display: inherit;
                            }
                        }
                    }
                }
            }
            .footer-laptop
            {
                display: flex;
            }
        }
        header, footer
        {
            display: none;
        }
    }
}

.dataSettingsModalWindow
{
    position: fixed;
    top: 10px;
    left: 10px;
    width: auto;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid var(--shadow-color);
    background-color: var(--bg-color);
    color: var(--white-text);

    box-shadow: 0px 0px 10px 10px var(--shadow-color);
    
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;

    .dataSettingSectionLabels
    {
        width: 50px;
        display: flex;
        flex-direction: column;
        // gap: 8px;
        // justify-content: space-evenly;
        align-items: center;
    }
    ul
    {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin: 0;
        padding: 0;
        li
        {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .dragMe
            {
                img
                {
                    width: 20px;
                    rotate: 90deg;
                }
                width: 20px;
                align-self: center;
                cursor: grab;
            }
            .dragMe:active
            {
                user-select: none;
                cursor: grabbing;
            }
        }
        li.dragging
        {
            background-color: red;
            opacity: 0.5;
        }
    }
    .dataSettingSection
    {
        width: 50px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: space-evenly;
        align-items: center;
        input
        {
            width: 50px;
            outline: none;
            border: 1px solid var(--pr-blue);
            border-radius: 8px;
            padding: 8px;
        }
    }
    .dataSettingSectionControls
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        button
        {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 0;
            color: var(--white-text);
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover
            {
                scale: 1.1;
            }
            img
            {
                width: 50%;
                height: 50%;
            }
        }
        .addSectionButton
        {
            background: var(--blue-gradient);
            &:hover
            {
                background: linear-gradient(var(--pr-blue), var(--pr-blue));

            }
        }
        .removeSectionButton
        {
            height: 0;
            background: var(--bin-red);
        }
        .removeSectionButton.active-drop
        {
            background: var(--secondary-red);
        }
    }
    
}