@mixin blue-gradient-icon
{
    .icon
    {
        background: linear-gradient(var(--blue-gradient-color), var(--blue-gradient-color)) padding-box,
            linear-gradient(330deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 100%) border-box;
    }
}
@mixin black-gradient-icon
{
    .icon
    {
        background: linear-gradient(var(--black-gradient-color), var(--black-gradient-color)) padding-box,
            linear-gradient(330deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 100%) border-box;
    }
    &:nth-child(2) .icon
    {
        rotate: 180deg;
    }
}