$pr-blue: #007AFF;
$secondary-purple: #AF52DE;
$secondary-green: #34C759;
$secondary-red: #FF3B30;
$secondary-blue: $pr-blue;
$secondary-yellow: #FFCC00;
$secondary-mint: #00C7BE;
$bg-purple: #efdcf8;
$bg-green: #d7f4de;
$bg-blue: #cce4ff;
$bg-yellow: #fef5cc;
$bg-grey: #eaeaea;
$bg-grey-list: #f7f7f7;
$bg-light-grey-list: #fcfcfc;
$graph-grey: #e6e6e6;
$grey-40: #00000080;
$bg-color: #f5f5f5;
$bg-grey-hover: #aaa;
$temporary-1: antiquewhite;
$temporary-2: aquamarine;
$blue-gradient: linear-gradient(#288df6, #4ca4fb);
$black-gradient: linear-gradient(#090909, #3b3b3b);