:root {
    --pr-blue: #007AFF;
    --secondary-purple: #AF52DE;
    --secondary-green: #34C759;
    --secondary-red: #FF3B30;
    --bin-red: #ff9994;
    --secondary-blue: var(--pr-blue);
    --secondary-yellow: #FFCC00;
    --secondary-mint: #00C7BE;
    --bg-purple: #efdcf8;
    --bg-green: #d7f4de;
    --bg-blue: #cce4ff;
    --bg-yellow: #fef5cc;
    --bg-grey: #eaeaea;
    --bg-grey-list: #f7f7f7;
    --bg-light-grey-list: #fcfcfc;
    --graph-grey: #e6e6e6;
    --grey-40: #00000080;
    --bg-color: #f5f5f5;
    --bg-grey-hover: #aaa;
    --blue-gradient: linear-gradient(#288df6, #4ca4fb);
    --black-gradient: linear-gradient(#090909, #3b3b3b);
    --white: white;
    --bi-icon-color: black;
    --white-text: black;
    --input-color: #555;
    --blue-gradient-color: #3897ff;
    --black-gradient-color: #1e1e1e;
    --shadow-color: rgb(228, 228, 228);
}

.dark-theme {
    --pr-blue: #007AFF;
    --secondary-purple: #AF52DE;
    --secondary-green: #34C759;
    --secondary-red: rgba(255, 69, 58, 1);
    --bin-red: #ff9994;
    --secondary-blue: var(--pr-blue);
    --secondary-yellow: #FFCC00;
    --secondary-mint: #00C7BE;
    --bg-purple: #492860;
    --bg-green: #314136;
    --bg-blue: #003a6a;
    --bg-yellow: #614e00;
    --bg-grey: #4f4f4f;
    --bg-grey-list: #222222;
    --bg-light-grey-list: #252525;
    --graph-grey: rgba(255, 255, 255, 0.15);
    --grey-40: rgba(255, 255, 255, 0.4);
    --bg-color: #222222;
    --bg-grey-hover: #aaa;
    --temporary-1: antiquewhite;
    --temporary-2: aquamarine;
    --blue-gradient: linear-gradient(#1b82e3, #7ba9d4);
    --black-gradient: linear-gradient(#2e302b, #4f4d49);
    --white: #292929;
    --bi-icon-color: white;
    --white-text: white;
    --input-color: rgba(255, 255, 255, 0.2);
    --blue-gradient-color: #338ee8;
    --black-gradient-color: #3d3d3d;
    --shadow-color: rgb(100, 100, 100);
}