* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    margin: 10px 0;
    border: 1px solid black;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex div,  
.inline-flex div { 
    margin: 5px 0;
    padding: 10px;     
}

/* ============================= */
.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/* ============================= */
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

/* ============================= */
.align-items-start {
    height: 200px;
    align-items: flex-start;
}

.align-items-end {
    height: 200px;
    align-items: flex-end;
}

.align-items-center {
    height: 200px;
    align-items: center;
}

.align-items-stretch {
    height: 200px;
    align-items: stretch;
}

/* ============================= */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}
/* ============================= */
.align-content-start
{
    align-content: start;
}
.align-content-end
{
    align-content: end;
}
.align-content-center
{
    align-content: center;
}
.align-content-stretch
{
    align-content: stretch;
}
.align-content-space-between
{
    align-content: space-between;
}
.align-content-space-around
{
    align-content: space-around;
}
.flex-wrapper, .flex-wrap
{
    min-height: 300px;
}
/* ============================= */
.orders .order:nth-child(1)
{
    order: 2;
    border: 2px solid red;
}
.orders .order:nth-child(2)
{
    border: 4px solid red;
}
/* ============================= */
.flex-flow
{
    flex-flow: column wrap;
}
.flex-basis div
{
    flex-basis: 100px;
}
.flex-container-1, .flex-container-2, .flex-container-3
{
    margin-top: 15px;
}
.flex-container-1
{
    width: 1000px;
    height: 300px;
    background-color: rgb(180, 199, 215);
    display: flex;
}
.flex-container-1 .flex-element
{
    flex-basis: 200px;
}
.flex-container-1 .flex-element:nth-child(1)
{
    flex-grow: 1;
    background-color: rgba(25, 55, 81, 0.505);
}
.flex-container-1 .flex-element:nth-child(2)
{
    flex-grow: 1;
    background-color: rgba(11, 125, 79, 0.419);
}
.flex-container-1 .flex-element:nth-child(3)
{
    flex-grow: 1;
    background-color: rgba(49, 68, 5, 0.419);
}
.flex-container-1 .flex-element:last-child
{
    flex-grow: 2;
    background-color: rgba(80, 23, 0, 0.419);
}

.flex-container-2
{
    width: 1000px;
    height: 300px;
    background-color: rgb(215, 180, 205);
    display: flex;
}
.flex-container-2 .flex-element
{
    flex-basis: 250px;
}
.flex-container-2 .flex-element:nth-child(1)
{
    flex-shrink: 1;
    background-color: rgba(25, 55, 81, 0.505);
}
.flex-container-2 .flex-element:nth-child(2)
{
    flex-shrink: 1;
    background-color: rgba(11, 125, 79, 0.419);
}
.flex-container-2 .flex-element:nth-child(3)
{
    flex-shrink: 1;
    background-color: rgba(49, 68, 5, 0.419);
}
.flex-container-2 .flex-element:nth-child(4)
{
    flex-shrink: 1;
    background-color: rgba(5, 28, 68, 0.419);
}
.flex-container-2 .flex-element:last-child
{
    flex-shrink: 0;
    background-color: rgba(80, 23, 0, 0.419);
}

.flex-container-3
{
    width: 1000px;
    height: 300px;
    background-color: rgb(215, 180, 205);
    display: flex;
}
.flex-container-3 .flex-element
{
    flex-basis: 250px;
}
.flex-container-3 .flex-element:nth-child(1)
{
    flex-shrink: 1;
    background-color: rgba(25, 55, 81, 0.505);
}
.flex-container-3 .flex-element:nth-child(2)
{
    flex-shrink: 1;
    background-color: rgba(11, 125, 79, 0.419);
}
.flex-container-3 .flex-element:nth-child(3)
{
    flex-shrink: 1;
    background-color: rgba(49, 68, 5, 0.419);
}
.flex-container-3 .flex-element:nth-child(4)
{
    flex-shrink: 1;
    background-color: rgba(5, 28, 68, 0.419);
}
.flex-container-3 .flex-element:last-child
{
    flex-shrink: 2;
    background-color: rgba(80, 23, 0, 0.419);
}