body
{
    margin: 0;
    width: auto;
    height: 1000px;
    background-color: rgb(127, 186, 167);
}
.flex-wrapper
{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    width: 98%;
    margin: auto;
}
.flex-wrapper .column
{
    width: calc((100% / 3) - 40px);
    margin: 0; 
}
.flex-wrapper .block
{
    width: 100%;
    height: fit-content;
    background-color: rgb(244, 244, 158);
    margin: 15px 0px;
    border: 2px black solid
}
.flex-wrapper .photo
{
    width: auto;
    height: 100px;
    background-color: rgb(169, 169, 169);
    text-align: center;
    align-content: center;
}
.flex-wrapper .column:nth-child(1) .block:nth-child(1) .photo
{
    height: 100px;
}
.flex-wrapper .column:nth-child(2) .block:nth-child(1) .photo
{
    height: 200px;
}
.flex-wrapper .column:nth-child(3) .block:nth-child(1) .photo
{
    height: 150px;
}
.flex-wrapper .column:nth-child(1) .block:nth-child(2) .photo
{
    height: 150px;
}
.flex-wrapper .column:nth-child(2) .block:nth-child(2) .photo
{
    height: 100px;
}
.flex-wrapper .column:nth-child(3) .block:nth-child(2) .photo
{
    height: 250px;
}
.flex-wrapper .column:nth-child(1) .block:nth-child(3) .photo
{
    height: 150px;
}
.flex-wrapper .column:nth-child(2) .block:nth-child(3) .photo
{
    height: 250px;
}
.flex-wrapper .column:nth-child(3) .block:nth-child(3) .photo
{
    height: 150px;
}
.flex-wrapper h4
{
    margin: 5px;
}
.flex-wrapper .text
{
    padding: 10px;
}

.to-do
{
    width: 100%;
    height: 100%;
    background-color: rgb(179, 230, 213);
}
.to-do header
{
    height: 50px;
    width: auto;
    align-content: center;
    background-color: rgb(128, 220, 190);
}
.to-do header h3
{
    margin: 0 0 0 15px;
    color: white;
}
.to-do main
{
    display: flex;
    justify-content: start;
    gap: 10px;
    margin: 10px auto;
    width: 95%;
    height: 90%;
    overflow-x: auto;
    overflow-y: hidden;
}
.to-do main .column
{
    min-width: 300px;
    max-width: 400px;
    height: 100%;
    background-color: rgb(247, 236, 236);
    margin: 5px;
    border-radius: 5px;
    overflow-y: auto;
}
.to-do main .column h4
{
    margin: 10px;
}
.to-do main .column .card
{
    width: 90%;
    height: auto;
    background-color: white;
    margin: 10px auto;
    border-radius: 5px;
    display: block;
    padding: 10px;
}
.to-do main .column span
{
    display: inline-block;
}
.to-do main .column .instruments
{
    height: 30px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.to-do main .column .instruments .tools
{
    width: 40%;
    height: 30px;
    align-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.to-do main .column .instruments .user
{
    width: 30%;
    height: 30px;
    text-align: end;
    align-items: center;
}
.to-do img
{
    max-height: 25px;
    min-height: 20px;
    width: auto;
}
.to-do .tools div
{
    display: flex;
    align-items: center;
}
.to-do .tools div span
{
    margin-left: 3px;
}
.to-do .user img
{
    margin-right: 10px;
}