.flex-container-1, .flex-container-2, .flex-container-3
{
    margin-top: 15px;
}
.flex-container-1
{
    width: 1000px;
    height: 300px;
    background-color: rgb(180, 199, 215);
    display: flex;
}
.flex-container-1 .flex-element
{
    flex-basis: 200px;
}
.flex-container-1 .flex-element:nth-child(1)
{
    flex-grow: 1;
    background-color: rgba(25, 55, 81, 0.505);
}
.flex-container-1 .flex-element:nth-child(2)
{
    flex-grow: 1;
    background-color: rgba(11, 125, 79, 0.419);
}
.flex-container-1 .flex-element:nth-child(3)
{
    flex-grow: 1;
    background-color: rgba(49, 68, 5, 0.419);
}
.flex-container-1 .flex-element:last-child
{
    flex-grow: 2;
    background-color: rgba(80, 23, 0, 0.419);
}

.flex-container-2
{
    width: 1000px;
    height: 300px;
    background-color: rgb(215, 180, 205);
    display: flex;
}
.flex-container-2 .flex-element
{
    flex-basis: 250px;
}
.flex-container-2 .flex-element:nth-child(1)
{
    flex-shrink: 1;
    background-color: rgba(25, 55, 81, 0.505);
}
.flex-container-2 .flex-element:nth-child(2)
{
    flex-shrink: 1;
    background-color: rgba(11, 125, 79, 0.419);
}
.flex-container-2 .flex-element:nth-child(3)
{
    flex-shrink: 1;
    background-color: rgba(49, 68, 5, 0.419);
}
.flex-container-2 .flex-element:nth-child(4)
{
    flex-shrink: 1;
    background-color: rgba(5, 28, 68, 0.419);
}
.flex-container-2 .flex-element:last-child
{
    flex-shrink: 0;
    background-color: rgba(80, 23, 0, 0.419);
}

.flex-container-3
{
    width: 1000px;
    height: 300px;
    background-color: rgb(215, 180, 205);
    display: flex;
}
.flex-container-3 .flex-element
{
    flex-basis: 250px;
}
.flex-container-3 .flex-element:nth-child(1)
{
    flex-shrink: 1;
    background-color: rgba(25, 55, 81, 0.505);
}
.flex-container-3 .flex-element:nth-child(2)
{
    flex-shrink: 1;
    background-color: rgba(11, 125, 79, 0.419);
}
.flex-container-3 .flex-element:nth-child(3)
{
    flex-shrink: 1;
    background-color: rgba(49, 68, 5, 0.419);
}
.flex-container-3 .flex-element:nth-child(4)
{
    flex-shrink: 1;
    background-color: rgba(5, 28, 68, 0.419);
}
.flex-container-3 .flex-element:last-child
{
    flex-shrink: 2;
    background-color: rgba(80, 23, 0, 0.419);
}