* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header .header-mobile {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-mobile .control {
  height: 50%;
  align-content: center;
  color: #007AFF;
}
@media (min-width: 768px) {
  header .header-mobile {
    display: none;
  }
}

.invisible {
  visibility: hidden;
}

main .aside-tabs {
  display: none;
}
main .aside-main {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .aside-main nav .header-laptop {
  display: none;
}
main .aside-main .cards {
  width: 91vw;
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
main .aside-main .cards .card {
  flex: 1 1 calc(50% - 8px);
  height: 25vw;
  padding: 16px;
  color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15%;
}
main .aside-main .cards .card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  font-size: 1.1rem;
}
main .aside-main .cards .card .content .icon {
  height: 8vw;
  width: 10vw;
  padding: 1.2vw 2.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 80px;
  content: url(../../images/arrow_rise.svg);
}
main .aside-main .cards .card .content:first-child {
  font-size: 1.1rem;
}
main .aside-main .cards .card .content:last-child .text:first-child {
  font-size: 1.2rem;
  font-weight: 600;
}
main .aside-main .blue-gradient {
  background-image: linear-gradient(#288df6, #4ca4fb);
}
main .aside-main .blue-gradient .icon {
  background: linear-gradient(#3897ff, #3897ff) padding-box, linear-gradient(330deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255) 100%) border-box;
}
main .aside-main .black-gradient {
  background-image: linear-gradient(#090909, #3b3b3b);
}
main .aside-main .black-gradient .icon {
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box, linear-gradient(330deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255) 100%) border-box;
}
main .aside-main .black-gradient:nth-child(2) .icon {
  rotate: 180deg;
}
main .aside-main .graphic {
  width: 91vw;
  height: 61vw;
  border-radius: 16px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
main .aside-main .graphic .group {
  width: 91%;
  font-size: 1.1rem;
  margin-top: 16px;
}
main .aside-main .graphic .group ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding: 0;
}
main .aside-main .graphic .group ul li:nth-child(1) {
  color: #AF52DE;
}
main .aside-main .graphic .frame {
  position: relative;
  height: 75%;
  width: 91%;
}
main .aside-main .graphic .frame .graph {
  height: 80%;
}
main .aside-main .graphic .frame .graph img {
  width: 100%;
}
main .aside-main .graphic .frame .bottom_text {
  width: 100%;
  font-size: 0.9rem;
}
main .aside-main .graphic .frame .bottom_text ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
main .aside-main .graphic .frame .bottom_text ul li {
  text-align: center;
  width: 16.6666666667%;
}
main .aside-main .graphic-2 {
  width: 91vw;
  height: 61vw;
  background-color: white;
  margin-top: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .aside-main .graphic-2 .text {
  width: 91%;
  margin-top: 16px;
  font-size: 1.1rem;
  color: #007AFF;
}
main .aside-main .graphic-2 .graph {
  height: 75%;
  width: 91%;
  margin-top: 8px;
}
main .aside-main .graphic-2 .graph .vertical_bars {
  height: 80%;
  display: flex;
  justify-content: space-around;
}
main .aside-main .graphic-2 .graph .vertical_bars .vertical_bar {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}
main .aside-main .graphic-2 .graph .vertical_bars .vertical_bar .progress {
  display: flex;
  width: 75%;
  background-color: #e6e6e6;
  border-radius: 12px;
  margin-top: 8px;
}
main .aside-main .graphic-2 .graph .vertical_bars .vertical_bar .title {
  width: 95%;
  color: white;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 0.8rem;
  text-align: center;
}
main .aside-main .graphic-2 .graph .bottom_text {
  margin-top: 14px;
}
main .aside-main .graphic-2 .graph .bottom_text ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
main .aside-main .graphic-2 .graph .bottom_text ul li {
  font-size: 0.9rem;
  text-align: center;
  flex: 1 1;
}
main .aside-main .graphic-3 {
  width: 91vw;
  height: 61vw;
  background-color: white;
  margin-top: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .aside-main .graphic-3 .text {
  width: 91%;
  margin-top: 16px;
  font-size: 1.1rem;
  color: #34C759;
}
main .aside-main .graphic-3 .graph {
  height: 75%;
  width: 91%;
  margin-top: 8px;
}
main .aside-main .graphic-3 .graph .vertical_bars {
  height: 80%;
  display: flex;
  justify-content: space-around;
}
main .aside-main .graphic-3 .graph .vertical_bars .vertical_bar {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}
main .aside-main .graphic-3 .graph .vertical_bars .vertical_bar .progress {
  display: flex;
  width: 75%;
  background-color: #e6e6e6;
  border-radius: 12px;
  margin-top: 8px;
}
main .aside-main .graphic-3 .graph .bottom_text {
  margin-top: 14px;
}
main .aside-main .graphic-3 .graph .bottom_text ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
main .aside-main .graphic-3 .graph .bottom_text ul li {
  font-size: 0.9rem;
  text-align: center;
  flex: 1 1;
}
main .aside-main .graphic-4 {
  width: 91vw;
  height: 61vw;
  background-color: white;
  margin-top: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .aside-main .graphic-4 .text {
  width: 91%;
  margin-top: 16px;
  font-size: 1.1rem;
  color: #FF3B30;
}
main .aside-main .graphic-4 .group {
  width: 91%;
  margin-top: 16px;
  font-size: 0.9rem;
}
main .aside-main .graphic-4 .group ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding: 0;
}
main .aside-main .graphic-4 .group ul li {
  display: flex;
  align-items: center;
}
main .aside-main .graphic-4 .group ul li:nth-child(1) .circle {
  background-color: black;
}
main .aside-main .graphic-4 .group ul li:nth-child(2) .circle {
  background-color: rgba(0, 0, 0, 0.5019607843);
}
main .aside-main .graphic-4 .group ul li:nth-child(3) .circle {
  background-color: #FF3B30;
}
main .aside-main .graphic-4 .group ul li .circle {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  margin-right: 5px;
}
main .aside-main .graphic-4 .graph {
  height: 50%;
  width: 91%;
  margin-top: 0px;
}
main .aside-main .graphic-4 .graph .vertical_bars {
  height: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}
main .aside-main .graphic-4 .graph .vertical_bars .vertical_bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
main .aside-main .graphic-4 .graph .vertical_bars .vertical_bar .progress {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  background-color: transparent;
  width: 10%;
  border-radius: 12px;
  margin-top: 3px;
}
main .aside-main .graphic-4 .graph .vertical_bars .vertical_bar .bg-red {
  background-color: #FF3B30;
}
main .aside-main .graphic-4 .graph .vertical_bars .vertical_bar .bg-grey {
  background-color: rgba(0, 0, 0, 0.5019607843);
}
main .aside-main .graphic-4 .graph .vertical_bars .vertical_bar .bg-black {
  background-color: black;
}
main .aside-main .graphic-4 .graph .bottom_text {
  margin-top: 8px;
}
main .aside-main .graphic-4 .graph .bottom_text ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
main .aside-main .graphic-4 .graph .bottom_text ul li {
  font-size: 0.9rem;
  text-align: center;
  flex: 1 1;
}
main .aside-main .h10 {
  height: 10%;
}
main .aside-main .h20 {
  height: 20%;
}
main .aside-main .h30 {
  height: 30%;
}
main .aside-main .h40 {
  height: 40%;
}
main .aside-main .h50 {
  height: 50%;
}
main .aside-main .h60 {
  height: 60%;
}
main .aside-main .h70 {
  height: 70%;
}
main .aside-main .h80 {
  height: 80%;
}
main .aside-main .h90 {
  height: 90%;
}
main .aside-main .h100 {
  height: 100%;
}
main .aside-main .list {
  width: 91vw;
  height: 77vw;
  background-color: white;
  margin-top: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .aside-main .list .text {
  width: 91%;
  margin-top: 16px;
  font-size: 1.1rem;
  color: #00C7BE;
}
main .aside-main .list .table {
  width: 91%;
  margin-top: 16px;
  display: flex;
  align-items: stretch;
  height: 78%;
}
main .aside-main .list .table ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 4px 0 0 0;
  padding: 0;
  width: 100%;
  gap: 4px;
}
main .aside-main .list .table ul li {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding-left: 44px;
  position: relative;
  font-size: 3.5vw;
  border-radius: 16px;
}
main .aside-main .list .table ul li::before {
  background-image: url(../../images/list_icon.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 100%;
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 2%;
}
main .aside-main .list .table ul li .status {
  padding: 4px 12px;
  margin-right: 8px;
  border-radius: 12px;
}
main .aside-main .in-progress {
  color: #AF52DE;
  background-color: #efdcf8;
}
main .aside-main .complete {
  color: #34C759;
  background-color: #d7f4de;
}
main .aside-main .pending {
  color: #007AFF;
  background-color: #cce4ff;
}
main .aside-main .approved {
  color: #FFCC00;
  background-color: #fef5cc;
}
main .aside-main .rejected {
  color: rgba(0, 0, 0, 0.5019607843);
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
  }
  main .aside-tabs {
    display: block;
    width: 17vw;
    height: 100vw;
    background-color: antiquewhite;
  }
  main .aside-main {
    flex: 1;
    background-color: aquamarine;
    width: 83vw;
    display: flex;
    justify-content: flex-end;
  }
  main .aside-main nav {
    display: flex;
    width: 91%;
    margin-top: 32px;
  }
  main .aside-main nav .header-laptop {
    display: flex;
    width: 100%;
  }
  main .aside-main nav .header-laptop .left-part {
    display: flex;
  }
  main .aside-main nav .header-laptop .left-part .icons {
    display: flex;
    gap: 8px;
  }
}

footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 0 0 32px 32px;
}
footer .group {
  width: 91vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .group ul {
  list-style-type: none;
  width: 85vw;
  display: flex;
  margin: 0;
  padding: 0;
}
footer .group ul li {
  flex: 1;
  text-align: center;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  header .header-mobile, footer {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
