* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .control {
  height: 50%;
  align-content: center;
  color: #007AFF;
}

.invisible {
  visibility: hidden;
}

main {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .cards {
  width: 91vw;
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
main .cards .card {
  flex: 1 1 calc(50% - 8px);
  height: 25vw;
  padding: 16px;
  color: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .cards .card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
main .cards .card .content .icon {
  height: 32px;
  width: 40px;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border: 1px solid transparent;
  border-radius: 80px;
  content: url(../../images/arrow_rise.svg);
}
main .cards .card .content:first-child {
  font-size: 14px;
}
main .cards .card .content:last-child .text:first-child {
  font-size: 18px;
  font-weight: 600;
}
main .blue-gradient {
  background-image: linear-gradient(#288df6, #4ca4fb);
}
main .blue-gradient .icon {
  background: linear-gradient(#3897ff, #3897ff) padding-box, linear-gradient(330deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255) 100%) border-box;
}
main .black-gradient {
  background-image: linear-gradient(#090909, #3b3b3b);
}
main .black-gradient .icon {
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box, linear-gradient(330deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255) 100%) border-box;
}
main .black-gradient:nth-child(2) .icon {
  rotate: 180deg;
}
main .graphic {
  width: 91vw;
  height: 61vw;
  border-radius: 16px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
main .graphic .group {
  width: 91%;
  font-size: 16px;
  margin-top: 16px;
}
main .graphic .group ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
main .graphic .group ul li:nth-child(1) {
  color: #AF52DE;
}
main .graphic .frame {
  position: relative;
  height: 75%;
  width: 91%;
  margin-top: 16px;
}
main .graphic .frame .graph {
  height: 90%;
}
main .graphic .frame .bottom_text {
  width: 100%;
  font-size: 12px;
}
main .graphic .frame .bottom_text ul {
  list-style-type: none;
  display: flex;
}
main .graphic .frame .bottom_text ul li {
  text-align: center;
  width: 16.6666666667%;
}
main .graphic-2 {
  width: 91vw;
  height: 61vw;
  background-color: white;
  margin-top: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .graphic-2 .text {
  width: 91%;
  margin-top: 16px;
  font-size: 16px;
  color: #007AFF;
}
main .graphic-2 .graph {
  height: 75%;
  width: 91%;
  margin-top: 16px;
}
main .graphic-2 .graph .vertical_bars {
  height: 80%;
  display: flex;
  justify-content: space-around;
}
main .graphic-2 .graph .vertical_bars .vertical_bar {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}
main .graphic-2 .graph .vertical_bars .vertical_bar .progress {
  display: flex;
  width: 75%;
  background-color: #e6e6e6;
  border-radius: 12px;
  margin-top: 8px;
}
main .graphic-2 .graph .vertical_bars .vertical_bar .title {
  width: 95%;
  color: white;
  padding: 4px 8px;
  border-radius: 16px;
}
main .graphic-2 .graph .bottom_text {
  margin-top: 14px;
}
main .graphic-2 .graph .bottom_text ul {
  list-style-type: none;
  display: flex;
}
main .graphic-2 .graph .bottom_text ul li {
  font-size: 12px;
  text-align: center;
  flex: 1 1;
}
main .graphic-3 {
  width: 91vw;
  height: 61vw;
  background-color: white;
  margin-top: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .graphic-3 .text {
  width: 91%;
  margin-top: 16px;
  font-size: 16px;
  color: #34C759;
}
main .graphic-3 .graph {
  height: 75%;
  width: 91%;
  margin-top: 16px;
}
main .graphic-3 .graph .vertical_bars {
  height: 80%;
  display: flex;
  justify-content: space-around;
}
main .graphic-3 .graph .vertical_bars .vertical_bar {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}
main .graphic-3 .graph .vertical_bars .vertical_bar .progress {
  display: flex;
  width: 75%;
  background-color: #e6e6e6;
  border-radius: 12px;
  margin-top: 8px;
}
main .graphic-3 .graph .bottom_text {
  margin-top: 14px;
}
main .graphic-3 .graph .bottom_text ul {
  list-style-type: none;
  display: flex;
}
main .graphic-3 .graph .bottom_text ul li {
  font-size: 12px;
  text-align: center;
  flex: 1 1;
}
main .graphic-4 {
  width: 91vw;
  height: 61vw;
  background-color: white;
  margin-top: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .graphic-4 .text {
  width: 91%;
  margin-top: 16px;
  font-size: 16px;
  color: #FF3B30;
}
main .graphic-4 .group {
  width: 91%;
  margin-top: 16px;
  font-size: 12px;
}
main .graphic-4 .group ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}
main .graphic-4 .group ul li {
  display: flex;
  align-items: center;
}
main .graphic-4 .group ul li:nth-child(1) .circle {
  background-color: black;
}
main .graphic-4 .group ul li:nth-child(2) .circle {
  background-color: rgba(0, 0, 0, 0.5019607843);
}
main .graphic-4 .group ul li:nth-child(3) .circle {
  background-color: #FF3B30;
}
main .graphic-4 .group ul li .circle {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  margin-right: 5px;
}
main .graphic-4 .graph {
  height: 50%;
  width: 91%;
  margin-top: 16px;
}
main .graphic-4 .graph .vertical_bars {
  height: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}
main .graphic-4 .graph .vertical_bars .vertical_bar {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
main .graphic-4 .graph .vertical_bars .vertical_bar .progress {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  width: 10%;
  border-radius: 12px;
  margin-top: 3px;
}
main .graphic-4 .graph .vertical_bars .vertical_bar .bg-red {
  background-color: #FF3B30;
}
main .graphic-4 .graph .vertical_bars .vertical_bar .bg-grey {
  background-color: rgba(0, 0, 0, 0.5019607843);
}
main .graphic-4 .graph .vertical_bars .vertical_bar .bg-black {
  background-color: black;
}
main .graphic-4 .graph .bottom_text {
  margin-top: 14px;
}
main .graphic-4 .graph .bottom_text ul {
  list-style-type: none;
  display: flex;
}
main .graphic-4 .graph .bottom_text ul li {
  font-size: 12px;
  text-align: center;
  flex: 1 1;
}
main .h10 {
  height: 10%;
}
main .h20 {
  height: 20%;
}
main .h30 {
  height: 30%;
}
main .h40 {
  height: 40%;
}
main .h50 {
  height: 50%;
}
main .h60 {
  height: 60%;
}
main .h70 {
  height: 70%;
}
main .h80 {
  height: 80%;
}
main .h90 {
  height: 90%;
}
main .h100 {
  height: 100%;
}
main .list {
  width: 91vw;
  height: 77vw;
  background-color: white;
  margin-top: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .list .text {
  width: 91%;
  margin-top: 16px;
  font-size: 16px;
}
main .list .table {
  width: 91%;
  margin-top: 16px;
  display: flex;
  align-items: stretch;
  height: 78%;
}
main .list .table ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  width: 100%;
  gap: 4px;
}
main .list .table ul li {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding-left: 44px;
  position: relative;
  font-size: 14px;
  border-radius: 16px;
}
main .list .table ul li::before {
  content: url(../../images/list_icon.png);
  position: absolute;
  left: 2%;
  height: 22px;
  width: 22px;
  top: 8px;
}
main .list .table ul li .status {
  padding: 4px 12px;
  margin-right: 8px;
  border-radius: 12px;
}
main .in-progress {
  color: #AF52DE;
  background-color: #efdcf8;
}
main .complete {
  color: #34C759;
  background-color: #d7f4de;
}
main .pending {
  color: #007AFF;
  background-color: #cce4ff;
}
main .approved {
  color: #FFCC00;
  background-color: #fef5cc;
}
main .rejected {
  color: rgba(0, 0, 0, 0.5019607843);
  background-color: #eaeaea;
}

/*# sourceMappingURL=main.css.map */
